.label {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.checkboxSection {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    &__column {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    input {
        width: 1.5rem;
        height: 1.5rem;
    }
}
