.checkbox {
    --text-color-empty: #6e8aa6;
    --text-color-checked: #3b4f7d;

    --icon-color-empty: #6e8aa6;
    --icon-color-checked: #226cbc;

    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: var(--text-color-empty);

    input {
        display: none;
    }

    svg {
        color: var(--icon-color-empty);
        width: 24px;
        height: 24px;
    }

    &.checked {
        color: var(--text-color-checked);

        svg {
            color: var(--icon-color-checked);
        }
    }
}
