.checkbox {
    --text-color-empty: #6e8aa6;
    --text-color-checked: #3b4f7d;

    --icon-color-empty: #6e8aa6;
    --icon-color-checked: #226cbc;

    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    input {
        display: none;
    }

    .checkbox-icon {
        min-width: 24px;

        svg {
            color: var(--icon-color-empty);
            width: 24px;
            height: 24px;
        }
    }

    .checkbox-label {
        flex: 1;
        color: var(--text-color-empty);
    }

    &.checked {
        .checkbox-label {
            color: var(--text-color-checked);
        }

        .checkbox-icon svg {
            color: var(--icon-color-checked);
        }
    }
}
