.card {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 1rem;
	background-color: #fff;
	border: 1px solid #bdcef4;
	border-radius: 0.25rem;
	box-sizing: border-box;
	border-left: 6px solid #bdcef4;

	.type {

		display: flex;
		align-items: center;

		.text {
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.75;
			color: #191e29;
			flex-grow: 1;
		}

		.iconWrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 3rem;
			height: 3rem;
		}
	}

	.results {
		ul {
			padding: 0 1rem;

			a {
				color: blue;
			}
		}
	}
}



.icon {
	width: 2rem;
	height: 2rem;
	object-fit: contain;
}