.inner {
	display: grid;
	grid-template-rows: 100px 1fr;
	height: 100%;
	width: 100vw;
}

.header {
	padding: 1.5rem 0 1.5rem 0;
	display: flex;
	justify-content: center;

	width: 100%;

	h1 {
		width: 100%;
		text-align: start;
		max-width: 40rem;

		@media screen and (max-width: 600px) {
			padding: 0px 20px;
		}
	}
}

.main {
	display: grid;
	grid-template-columns: 100vw 100vw;
	width: 100vw;
	overflow-x: scroll;
	scroll-behavior: smooth;
}
