.inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100vw;
}

.header {

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

	h1 {
		width: 100%;
		text-align: start;
		max-width: 40rem;
		margin: 0px;
		line-height: 2rem;

		@media screen and (max-width: 600px) {
			padding: 0px 20px;
		}
	}
}

.main {
	display: grid;
	grid-template-columns: 100vw 100vw;
	width: 100vw;
	overflow-x: scroll;
	scroll-behavior: smooth;
}