.react-flow__handle {
    visibility: hidden;
}

.addIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        color: #9687f4;
        width: 20px;
        height: 20px;
    }
}

.addIcon:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}
