.react-flow__handle {
    visibility: hidden;
}

.addIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    background-color: inherit;

    svg {
        color: #9687f4;
        width: 1rem;
        height: 1rem;
    }
}

.addIcon:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.react-flow__node {
    border-radius: 5px;
}

.react-flow__node.dragging {
    .node__content {
        transform: scale(1.1);
    }
}

.highlight {
    box-shadow: 0 0 10px #00000050;
}

.modalText {
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.44999998807907104px;
    text-align: center;
}
