.statement-evaluation-card {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 4px;
  background-color: var(--inputBackground);
  box-shadow: 2px 2px 4px var(--shadow);
  transition: all 1s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  gap: 0.4rem;
  position: absolute;

  .selected-option {
    color: white;
    z-index: 3;
    color: #57a193;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;

    div {
      transform: rotate(270deg) translate(0, -0.35rem);
    }
  }

  .main {
    width: 100%;
    padding: var(--padding) var(--padding) var(--padding) 0;

    .info {
      color: var(--header);
      display: flex;
      width: 100%;

      .text {
        // display: flex;
        // justify-content: space-between;
        margin-bottom: 1rem;
        flex: 1;
        width: 100%;
        background-color:var(--background-color-info-text);
        padding: var(--info-text-padding);
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      padding-top: 0.5rem;
      gap: 1rem;
      border-top: 1px solid var(--shadow);

      .add-sub-question-button svg {
        color: #4e88c7;
        width: 24px;
        height: 24px;
      }
    }

    &:nth-child(-1) {
      border-left: 0.71rem solid var(--accent);
    }

    .menu-option svg {
      color: #226cbc;
    }
  }

  &--new {
    animation: newCard 1s ease-in-out;

    @keyframes newCard {
      0% {
        background-color: var(--blue);
        transform: translateY(6rem) scale(0.8);
      }
      100% {
        background-color: white;
        transform: translateY(0rem) scale(1);
      }
    }
  }
}
