.roomsWrapper {
    flex: 1;
    width: 100%;
    max-width: 75ch;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 5rem;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        padding: 0.5rem 0;
        border-bottom: 2px solid var(--shadow);
        &__options {
            display: flex;
            align-items: center;
            &__option {
                color: #8aa8c7;
                font-family: Roboto;
                font-size: 0.9rem;
                font-style: normal;
                font-weight: 400;
                line-height: 0.9rem; /* 100% */
                cursor: pointer;
                position: relative;
            }
            .active {
                color: var(--light-blue);
                font-weight: 600;
            }
            .block {
                background-color: var(--light-blue);
                width: 1rem;
                height: 0.3rem;
                border-radius: 3px;
                position: absolute;
                top: 1.35rem;
                right: 40%;
            }
        }
    }
    &__timerImg {
        display: flex;
        align-items: start;
        justify-content: end;
        width: 100%;
        &__title {
            color: var(--light-blue);
            font-family: Roboto;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
    &__timer {
        position: relative;
        &__time {
            position: absolute;
            top: 35%;
            right: 30%;
            color: var(--light-blue);
            font-size: 2rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}
