.custom-switch {
    height: 1.85rem;
    width: 220px;
    position: relative;
    border-radius: 0.285rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    &.checked {
        .tag {
            background-color: var(--toggle-blue-active);
            color: var(--text-white);
            left: 180px;
            filter: drop-shadow(0px -2.049px 4.098px rgba(65, 112, 162, 0.30)) drop-shadow(0px 2.049px 4.098px rgba(65, 112, 162, 0.40));
        }

        .label {
            background-color: var(--toggle-blue-active);
            color: var(--text-white);
            margin-left: 0;
            margin-right: 20px;
        }
    }

    .tag {
        position: absolute;
        background-color: var(--toggle-inactive);
        filter: drop-shadow(0px -2px 4px rgba(161, 189, 218, 0.30)) drop-shadow(0px 2px 4px rgba(161, 189, 218, 0.80));
        border-radius: 100%;
        transition: all 0.15s linear;
        cursor: pointer;
        user-select: none;
        z-index: 4;
        block-size: 40px;
        inline-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-bodyest);
        left: 0;
    }

    .label {
        width: 200px;
        background-color: var(--toggle-inactive);
        transition: all 0.25s linear;
        color: var(--text-bodyest);
        font-size: 13px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        padding-block: 5px;
        padding-inline: 30px;
        margin-left: 20px;
    }

    .switch-input {
        display: none;
    }
}