.wrapper{
   
    padding: 1rem;
    align-items: start;
    gap:4rem;
    section{
        h1, h2, h3, h4, h5, h6{
            text-align: start;
            line-height: 2.5rem;
        }
   p{
    color:var(--text);
    line-height: 1.8rem;
   }
        margin: .5rem;
      
    }
}