.wrapper {
    padding-left: 2rem;

    &__header {
        margin-top: 1rem;
        text-align: left;
    }

    &__main {
        margin-inline: auto;
        position: relative;
        width: 15.2rem;
        height: 24.8rem;
        margin-top: 4rem;
        
        &__agreement {
            position: absolute;
            top: 0;
            right: 4.5rem;
        }

        &__disinterest {
            position: absolute;
            top: 40%;
            left: -6.5rem;
        }

        &__disputes {
            position: absolute;
            right: -3rem;
            top: 50%;
        }

        &__taboo {
            position: absolute;
            bottom: -1rem;
            right: 4.5rem;
        }
    }
}

.infoDots{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}