.notifications{
    padding: 2rem;
    p{
        font-size: 1.2rem;
        text-align: center;
    }
    img{
        width: 100%;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.452);
        margin-bottom: 2rem;
    }
   
}