.invitation {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;

    form {
       
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        input {
            text-align: center;
            width: 9rem;
            border: 1px solid #E0E0E0;
            height: 3rem;
            -webkit-appearance: none;
            margin: 0;
            -moz-appearance: textfield;
        }
    }
}