.invitation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 3.5rem;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;

        &__btn {
            width: 9.5rem;
            height: 3rem;
            border-radius: 0.23rem;
            padding: 0.70rem 2.8rem;
            background-color: white;
            color: rgba(71, 137, 209, 0.4);
            font-size: 1.05rem;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            cursor: pointer;
        }

        &__inputBoxWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 0.7rem;

            &__input {
                background-color: var(--inputBackground);
                width: 3.1rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--h2Color);
                font-weight: 400;
                font-size: 2.1rem;
                border-radius: 0.125rem;
                padding: 0.7px 0.9px;
                text-align: center;

                &::placeholder {
                    font-size: 2.11rem;
                    font-weight: 400;
                    text-align: center;
                    color: var(--dark-blue);
                    opacity: 0.15;
                }
            }
        }
    }

    &__error {
        background-color: var(--crimson);
        color: white;
        padding: .3rem 1.5rem;
        border-radius: .5rem;
        max-width: 25ch;
        line-height: 1.7rem;
        text-align: center;
        box-shadow: 0 0 1rem var(--crimson);
    }
}