rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /awaitingUsers/{document=**} {
      allow read, write: if request.auth != null;
    }

    match /councils/{councilId=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /version/{version=**} {
      allow read: if true;
    }

    match /statements/{statementId=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /inAppNotifications/{inAppNotificationId=**} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      allow update: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /statementsMeta/{statementId=**} {
      allow read, write: if request.auth != null;
    }

    match /stages/{stageId=**} {
      allow read, write: if request.auth != null;
    }

    match /importance/{importanceId=**} {
      allow read, write: if request.auth != null;
    }

    match /approval/{approvalId=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /documentsSigns/{documentsSignId=**} {
      allow read: if request.auth != null;
    }

    match /signatures/{signaturesId=**} {
      allow read, write: if request.auth != null;
    }

    match /agrees/{agreeId=**} {
      allow read, write: if request.auth != null;
    }

    match /invitations/{invitationId=**} {
      allow read, write: if request.auth != null;
    }

    match /admins/{adminStatementId=**} {
      allow write: if request.auth != null && request.auth.uid == request.resource.data.user.uid;
    }

    match /statementsSubscribe/{statementSubId=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /statementsSignatures/{signatureId=**} {
      allow read, write: if request.auth != null;
    }

    match /statementRoomsAsked/{requestId=**} {
      allow read, write: if request.auth != null;
    }

    match /resultsTriggers/{statementId=**} {
      allow write: if request.auth != null;
    }

    match /statementLobbyRooms/{statementId=**} {
      allow read: if request.auth != null;
    }

    match /timers-settings/{timerIdx=**} {
      allow read, write: if request.auth != null;
    }

    match /rooms/{roomId=**} {
      allow read, write: if request.auth != null;
    }

    match /participants/{participantId=**} {
      allow read, write: if request.auth != null;
    }

    match /roomsSettings/{roomSettingsId=**} {
      allow read, write: if request.auth != null;
    }

    match /timers-rooms/{timerIdx=**} {
      allow read, write: if request.auth != null;
    }

    match /evaluations/{evluationId=**} {
      allow read, write: if request.auth != null;
    }

    match /approval/{approvalId=**} {
      allow read, write: if request.auth != null;
    }

    match /statementEvaluators/{statementEvaluatorsId=**} {
      allow read, write: if request.auth != null;
    }

    match /votes/{voteId=**} {
      allow read, write: if request.auth != null;
    }

    match /posts/{postId=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /chatMessages/{chatMessageId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /posts/{group=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /groups/{group=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /chats/{chatId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == resource.data.creator.uid;
    }

    match /usersSettings/{userId=**} {
      allow read, write: if request.auth != null;
    }

    match /usersV2/{userId=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.uid;
    }

    match /users/{user} {
      allow read: if true;
      allow write: if request.auth != null;

      match /chat/{chat=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /chatLastEnterence/{chatLastEnterence=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /feed/{feed=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /feedLastEntrence/{feedLastEntrence=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /feeds/{feeds=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /groups/{groups=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /groupsOwned/{groupsOwned=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /messages/{messages=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /messagesCounter/{messagesCounter=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /optionsRead/{optionsRead=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /registerGroups/{registerGroups=**} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      match /memberships/{membership} {
        allow read, write: if request.auth != null;
      }
    }

    match /messages/{message=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /tokens/{token=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    function isPublicConsultation() {
      return resource.data.groupType == 'public';
    }

    function hasValidMembership(consultationId) {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)/memberships/$(consultationId)).data.role != null;
    }

    match /consultations/{consultationId} {
      allow read: if isPublicConsultation() || hasValidMembership(consultationId);
      allow write: if request.auth != null && request.auth.uid == request.resource.data.creator.uid;

      match /meta/{metaId} {
        allow read: if request.auth != null;
        allow write: if get(/databases/$(database)/documents/consultations/$(consultationId)).data.creator.uid == request.auth.uid;
      }
    }

    match /news/{new} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.creator.uid;
    }
  }
}