.stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    justify-content: center;
    user-select: none;
    transition: all .3s ease;


    .top {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;

        .line {
            height: 2px;
            background-color: var(--disabled);
            flex: auto;
        }

        .point {
            position:absolute;
            left:50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s ease;
    
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: var(--disabled);

            .messages {
                position: absolute;
                bottom: 55%;
                left: 55%;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: var(--icon-red);
            }

            .innerPoint {
             
                display: flex;
                justify-content: center;
                align-items: center;
                width: 0px;
                height: 0px;
                border-radius: 0px;
                div {
                    background-color: var(--icon-blue);
                    width: 0px;
                    height: 0px;
                    border-radius: 10px;
                }
            }

            &--selected {
                transition: all .3s ease;
                background-color: var(--icon-blue);
                width: 30px;
                height: 30px;

                .messages {
                    background-color: var(--icon-red);
                }

                .innerPoint {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                   
                    background-color: white;

                    div {
                        background-color: var(--icon-blue);
                        width: 10px;
                        height: 10px;
                        border-radius: 10px;
                    }
                }
            }
        }

    }

    .label {
        font-size: .85rem;
        color: #a94c4c;
        text-align: center;
        width: 100%;
        padding: 0 1rem;

        &--disabled {
            color: var(--disabled);
        }
    }
}