.document {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.resultsWrapper {
    background-color: #fff;
    border-radius: 1rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50ch;
    margin:auto;
    
    section{
        width: 30%;
        margin-bottom: 2rem;
        label{
            margin-bottom: 5rem;
        }
    }

    > div {
        margin: 2rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 0.5rem;
        }
    }
}
