.document {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.resultsWrapper {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    section {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    > div {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 0.5rem;
        }
    }
    button {
        margin-bottom: 1rem;
    }
}
