.document {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.resultsWrapper {
    margin-top: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
        margin: 2rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 0.5rem;
        }
    }
}
