.document{
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
}

.resultsWrapper{
    margin-top: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
}