.box{
    display: flex;
    align-items: center;
    gap:.6rem;
    color:rgba(0, 0, 0, 0.711);
    font-size: .8rem;
   
}
.evaluation{
    direction: ltr;
    transform: translateY(.2rem);
}
.container {
    display: flex;
    width: fit-content;
    margin-top: .5rem;
    direction: ltr;

}

.item {
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    min-width: 2rem;

    cursor: pointer;
    user-select: none;

    &:first-child {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        padding-left: .8rem;
        padding-right: .8rem;
    }

    &:last-child {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding-left: .8rem;
        padding-right: .8rem;
    }

    &--selected {
        transform: scale(1.2);
    }
}

.active {
    transform: scale(1.1);
    z-index: 300;
}