.question{
    background-color: blue;
    color:white;
    padding: 0px 1rem;
    border-radius: 1rem;
}

.option{
    background-color: red;
    color:white;
    padding: 0px 1rem;
    border-radius: 1rem;
}

.general{
    background-color: green;
    color:white;
    padding: 0px 1rem;
    border-radius: 1rem;
}