.option-bar {
	.vote-button-container {
		display: flex;
	}
	.vote-button {
		border-radius: 5px;
		background-color: teal;
		clip-path: polygon(50% 0%, 100% 11px, 100% 100%, 0% 99%, 0% 11px);
		color: white;
		user-select: none;
		cursor: pointer;
		width: 120px;
		height: 35px;
		white-space: wrap;
		word-wrap: break-word;
		overflow: hidden;
		text-align: center;
		text-overflow: ellipsis;
		box-shadow: 0px -2px 6px 0px #cad7dd80;

		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 150ms ease-in-out;

		:hover,
		:active {
			overflow: visible;
		}

		svg {
			color: White;
		}
	}

	.info-icon {
		background: none;
		user-select: none;
		position: absolute;
	}

	.column {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		text-align: center;
		filter: drop-shadow(0px 2px 4px rgba(151, 173, 184, 0.525));

		.percentage-text {
			color: #6e8aa6;
			display: flex;
			align-items: center;
			font-family: 'Patrick Hand', cursive;
		}
	}

	.bar {
		position: relative;
		height: 0px;
		width: 120px;
		display: flex;
		justify-content: center;
		align-items: end;
		transition: all 500ms ease-in-out;
		border-radius: 2rem 0rem 0rem 0rem;
		clip-path: polygon(
			0% 0%,
			100% 0%,
			100% 100%,
			50% calc(100% - 11px),
			0 100%
		);
		transform: translateY(10px);

		.number-of-selections {
			color: White;
			position: absolute;
			top: 10px;
		}
	}

	.drop-shadow {
		filter: drop-shadow(0px 2px 4px rgba(151, 173, 184, 0.525));
	}

	&.vertical {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		transition: all 500ms ease-in-out;

		.info-icon {
			bottom: 70px;
			transform: scale(1.3);

			svg {
				width: 22px;
				height: 22px;
			}

			&.is-bar-small {
				transform: scale(1);
			}
		}

		.vote-button {
			svg {
				width: 24px;
				height: 24px;
			}
		}

		.title {
			transform: rotate(270deg) translate(11rem, -3rem);
			color: #6e8aa6;
			width: 19rem;
			text-align: end;

			&.is-bar-small {
				transform: rotate(270deg) translate(11rem, -2.5rem);
			}
		}
	}

	&.horizontal {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		transition: all 500ms ease-in-out;

		.vote-button svg {
			transform: rotate(270deg) translate(-3px);
			width: 19px;
		}

		.info-icon {
			bottom: 0px;
			display: flex;
			align-items: center;
			@media (max-width: 540px) {
				transform: translateY(-2.7rem) rotate(270deg);
			}

			svg {
				width: 23px;
				height: 23px;
			}
		}
		.bar {
			width: 30px;
			height: 30px;
			border-radius: 15px 15px 0 0;

			.number-of-selections {
				top: 0;
				transform: rotate(270deg);
				background-color: white;
				border-radius: 50%;
				color: #3b4f7d;
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.column {
			.percentage-text {
				@media (max-width: 540px) {
					transform: rotate(270deg);
				}
			}
		}

		.title {
			transform: rotate(270deg);
			color: #6e8aa6;
			position: absolute;
			width: 20rem;
			height: fit-content;
			bottom: 9.5rem;
			right: -6rem;
			@media (max-width: 540px) {
				width: 24rem;
				bottom: 11.2rem;
			}
			@media (max-width: 500px) {
				width: 21rem;
				bottom: 9.8rem;
			}
		}
	}
}
