.info {
    position: relative;
    padding: 2rem;
    border-radius: .5rem;
    background-color: white;
    width: 55ch;
    max-width: 80vw;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.image {

    height: 14rem;

    img {
        position: absolute;
        top: -20%;
        right: 15%;
        height: 20rem;

    }
}

.texts {

    h3 {
        color: #3B4F7D;
        width: 100%;
        display: flex;
        justify-content: space-between;

        img {
            cursor: pointer;
            user-select: none;
        }

    }

    color:#6E8AA6;

}

.text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-height: 400px;
    overflow-y: auto;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
        padding: 2rem;
        border-radius: .5rem;
        border: 1px solid #8eb0d2;
    }

    textarea {
        resize: none;
        min-height: 7rem;
    }
}