.statement-info {
    position: relative;
    border-radius: 0.5rem;
    width: 35ch;
    max-width: 80vw;
    height: fit-content;
    min-height: 300px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Open Sans", sans-serif;

    .info-graphic {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 260px;
            width: auto;
            margin-top: -86px;
            cursor: unset;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;

        .inputs {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: auto;
            padding: 0 1rem;
        }

        textarea {
            resize: none;
            min-height: 7rem;
        }
    }

    .form-buttons {
        margin-top: auto;
        display: flex;
        align-items: center;
        width: 100%;
        height: 55px;
        box-shadow:
            0 8px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;

        button {
            height: 55px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-family: "Roboto", "Open Sans", sans-serif;
            font-size: 1rem;
            font-weight: 600;
        }

        .cancel-button {
            color: #f26d6d;
            background-color: #f2f6ff;
        }

        .save-button,
        .close-button {
            background-color: #3d98e7;
            color: white;
        }
    }

    .texts {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: #6e8aa6;
        overflow: hidden;
        font-family: "Roboto", "Open Sans", sans-serif;

        h3 {
            color: #3b4f7d;
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 1rem;

            img {
                cursor: pointer;
                user-select: none;
            }
        }

        .edit-icon {
            width: 24px;

            svg {
                color: #226cbc;
                width: 24px;
            }
        }

        .text {
            flex: 1;
            max-height: 30vh;
            overflow-y: auto;
            scrollbar-width: thin;
            padding-right: 5px;
        }
    }
}
