.stage {}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: var(--wrapper);
	margin: auto;
	overflow-y: auto;
}

.bottomNav {
	position: fixed;
	bottom: 0px;
	max-width: var(--wrapper);
	width: 80vw;
}