.chip{
    display: flex;
    background-color: rgb(234, 234, 234);
    align-items: center;
    margin: 3px;
    padding: .1rem;
    width: fit-content;
    font-size: .8rem;

    img{
        width: 1.5rem;
        height: 1.5rem;
       
        border-radius: 1rem;
        margin: .1rem;
    }
    span{
        padding: .1rem .3rem;
    }
}