.chip{
    display: flex;
    align-items: center;
    margin: 3px;
    border-radius: 2rem;
    border: 1px solid var(--shadow);
    background-color: var(--white);
    padding: .1rem;
    width: fit-content;

    img{
        width: 1.5rem;
        height: 1.5rem;
       
        border-radius: 1rem;
        margin: .1rem;
    }
    span{
        padding: .1rem .3rem;
    }
}