.chip{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
    background-color: var(--white);
    border: 1px solid var(--shadow);
    border-radius: 20px;
    padding: .3rem .5rem;

    img{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
    }
}