.statement-settings-form {
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 75ch;
    margin: 0.5rem auto;
    padding: 1.5rem;
    position: relative;
    padding-bottom: 5rem;
    font-family: "Roboto", "Open Sans", sans-serif;

    textarea,
    input[type="text"] {
        padding: 1rem;
        font-size: 1.2rem;
        width: 100%;
        // outline: none;
        resize: none;
        background-color: #f5fcff;
        box-shadow: 0px 2px 6px 0px rgba(170, 187, 227, 0.253);
        box-shadow: 0px -2px -4px 0px rgba(193, 204, 229, 0.31);
    }

    .title {
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
        color: #232f4a;
    }

    .switches-area {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem 5rem;
    }

    .get-members-area {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding-block: 1rem;

        .evaluators-button {
            color: var(--text-blue);
        }
        .voters-button {
            color: var(--text-blue);
        }
    }

    .submit-button {
        transform: scale(1.25);
        transition: all 0.13s ease-in-out;
        color:var(--white);
        margin: auto;
        cursor: pointer;
        position: fixed;
        bottom: 2%;
        left: 63%;
        z-index: 1000;
        &:hover {
            transform: scale(1.4);
        }
    }

    .form-button {
        display: flex;
        padding: 0.40625rem var(--Spacing-16, 1rem);
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: var(--Radius-Radius-L, 1.25rem);
        border: var(--Spacing-0, 1px) solid var(--btn-tertiary);
    }
}
