.box{
    padding: 1rem;
}
.input{
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(226, 226, 206);
    margin-bottom: 2rem;

    //on mobile
    @media (max-width: 600px) {
        font-size: 1.5rem;
        max-width: 98vw;
    }
}