.background {
    background-color: #a8a8a838;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    background-color: white;
    z-index: 1001;
    box-shadow:
        0px -1.234px 12.336px 0px rgba(27, 31, 45, 0.15),
        0px 4px 14px 0px rgba(41, 49, 80, 0.1);
    position: absolute;
    top: 3rem;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;

    svg {
        height: 24px;
        width: 24px;
    }
}
