.enhanced-evaluation {

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem;
  grid-template-rows: auto auto;
  @media screen and (max-width: 500px) {
   width: fit-content;
   margin: auto;
    margin-top: 1rem;
  }


  .evaluation-thumbs {
    
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    // direction: ltr; // Default direction
    gap: 0.5rem;

  

    .evaluation-thumb {
      transition: all 0.3s;
      display: flex;
      border-radius: 3rem;
      justify-content: center;
      align-items: center;
      height: 2rem;
      min-width: 2rem;
      cursor: pointer;
      user-select: none;
      opacity: 0.8;

      &.active {
        transform: scale(1.2);
        z-index: 0;
        opacity: 1;
      }

      // &:first-child {
      //   border-top-left-radius: 2rem;
      //   border-bottom-left-radius: 2rem;
      //   padding-left: 0.8rem;
      //   padding-right: 0.8rem;
      // }

      // &:last-child {
      //   border-top-right-radius: 2rem;
      //   border-bottom-right-radius: 2rem;
      //   padding-left: 0.8rem;
      //   padding-right: 0.8rem;
      // }
    }
  }

  .evaluation-score {
   
    display: flex;
    gap:0.2rem;
    align-items: center;
    justify-content: center;
    color:var(--text-paragraph-light);
    // direction: ltr;
  
  }

  .evaluation-explain{
    justify-content: space-between;
    color:var(--text-paragraph-light);
    &--ltr{
     flex-direction: row-reverse;
    }
  }

  .evaluation-bar {
    display: flex;

    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
    color: rgba(0, 0, 0, 0.711);
    font-size: 0.8rem;


    
  }

  .total-evaluators {
    direction: ltr;
  }

 


  .evaluation-explain {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.711);
    text-align: center;
    width: 100%;
  }
}

.active{
  transform: scale(1.1);
}