.dropZone {
  width: 100%;
  height: 400px;
  background-color: var(--drag-drop-bg);
  border: var(--Spacing-2, 2px) dashed var(--Mapped-Color-Icons-Icon-Blue-Light, #739EE4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.dropZoneActive {
  border: var(--Spacing-2, 2px) dashed var(--Mapped-Color-Icons-Icon-Blue-Light, #2196f3);
  transition: border-color 1s;
}

.imagePreview {
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
