.dropZone {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 200px;
	max-height: 300px;
	margin: 0 auto;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	transition:
		border-color 0.3s ease,
		background-color 0.3s ease;

	&:hover {
		border-color: #888;
	}

	&Active {
		background-color: #f0f8ff;
		border-color: #007bff;
	}

	.fileInput {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	.imagePreview {
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 8px;
		text-align: center;
	}

	p {
		font-size: 16px;
		color: #666;
	}
}
