.card {
	padding: 1rem;
	background-color: var(--question-header);
	color: var(--question-header-text);
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	h3 {
		margin-bottom: 0.3rem;
		font-weight: 500;
	}
	label {
		margin-bottom: 0.2rem;
	}
}
.title {
	display: flex;
	gap: 0.4rem;
}

.answer {
	padding: 1rem;
}
