.card{
    padding: 1rem;
    background-color: var(--question);
    color: var(--question-text);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    h3{
        margin-bottom: .3rem;
        font-weight: 500;
    }
    label{
        margin-bottom: .2rem;
    }
}
.title{
    display: flex;
    gap:.4rem;
}

.answer{
    padding: 1rem;
    
}
