.results-range {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    .range-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        margin-bottom: 3rem;
        width: 80%;

        

        .range {
            
            flex: 1;
            height: 0.3rem;
            outline: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            box-shadow: 0px 2px 4px 0px #C9D1E4 inset;
            border-radius: 6px;
            outline: none;
            border: none;
            -webkit-appearance: none;
            
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            display: flex;
            width: 2rem;
            height: 1rem;
            transform: rotate(90deg);
            padding: 0.0625rem 0.5625rem;
            justify-content: center;
            align-items: center;
            gap: 0.1875rem;
            flex-shrink: 0;
            border-radius: var(--Radius-Radius-XXS, 0.125rem);
            background: var(--icon-blue);
            box-shadow: 0px 2px 6px 0px rgba(172, 168, 197, 0.40), 0px -2px 6px -5px rgba(177, 170, 202, 0.40);

        }
    }

    .number-of-results {
        font-size: 20px;
    }
}
