.results-range {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    .range-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        margin-bottom: 3rem;
        width: 80%;

        .range {
            flex: 1;
            height: 3px;
            outline: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            box-shadow: 0px 2px 4px 0px #c9d1e4 inset;
            border-radius: 6px;
            outline: none;
            border: none;
            -webkit-appearance: none;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 15px;
            height: 30px;
            background: #5899e0;
            box-shadow: 0px -2px 6px -5px #b1aaca66;
            box-shadow: 0px 2px 6px 0px #aca8c566;
            border-radius: 2px;
            border: none;
            cursor: pointer;
        }
    }

    .number-of-results {
        font-size: 20px;
    }
}
