.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
	color: var(--h2Color);

	.title {
		text-align: center;
		word-spacing: 0.1rem;
		font-weight: 500;

		.titleSpan {
			color: #668fd1;
			font-weight: 700;
			font-size: 1rem;
		}
	}
}

.ideaImage {
	margin-top: 1rem;
	width: auto;
	height: 50vh;
}

.sortSuggestionActive {
	background: linear-gradient(
		180deg,
		#f2f6ff 76.47%,
		rgba(242, 246, 255, 0) 100%
	);
	position: absolute;
	width: clamp(20rem, 55.41rem, 100%);
	top: 8.2rem;
	padding: 2rem;
	z-index: 10;
	border-top: 3px solid rgba(0, 0, 0, 0.01);
	border-radius: 8px;
}

.plusButton {
	width: 13.47rem;
	height: 2.77rem;
	background-color: #739ee4;
	border-radius: 26px;
	padding: 8px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	gap: 0.5rem;
	box-shadow:
		0px 3.33px 6.67px 0px rgba(50, 90, 134, 0.1),
		0px 11.67px 11.67px 0px rgba(50, 90, 134, 0.09),
		0px 26.67px 16.67px 0px rgba(50, 90, 134, 0.05),
		0px 46.67px 18.33px 0px rgba(50, 90, 134, 0.01),
		0px 73.33px 20px 0px rgba(50, 90, 134, 0);
	p {
		color: white;
		font-size: 1.17rem;
		font-weight: 400;
	}
}
