.thankyou {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    h3{
        margin-bottom: 2rem;
       
    }

    
    
}

.image{
    width: 100%;
    height: 14rem;
    padding: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}