.thankyou {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    h3{
        margin-bottom: 2rem;
       
    }
    
}