.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-overlay);
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;

    .modal-content {
        background-color: var(--bg-screen);
        border-radius: .5rem;
        box-shadow: 0px 20px 50px 0px #21253633;
        box-shadow: 0px -4px 40px 0px #2125364d;
        height: fit-content;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            animation-name: rise;
            animation-duration: 0.4s;
            animation-timing-function: ease-in-out;

        }

    }
}

@keyframes rise {
    from {
        transform: translateY(100%) scale(0.1);
        opacity: .3;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

}