.switch {
    height: 1.85rem;
    width: 220px;
    position: relative;
    border-radius: 0.285rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    &.checked {
        .tag {
            background-color: #4e88c7;
            color: white;
            left: 180px;
        }

        .label {
            background-color: #74adf0;
            color: white;
            margin-left: 0;
            margin-right: 20px;
        }
    }

    .tag {
        position: absolute;
        background-color: #c1d8f0;
        border-radius: 100%;
        transition: all 0.15s linear;
        cursor: pointer;
        user-select: none;
        z-index: 4;
        box-shadow: 0px -2px 6px -5px rgba(177, 170, 218, 0.5);
        box-shadow: 0px 2px 6px 0px rgba(177, 170, 218, 0.5);
        block-size: 40px;
        inline-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #769cc2;
        left: 0;
    }

    .label {
        width: 200px;
        background-color: #e5f2ff;
        transition: all 0.25s linear;
        color: #769cc2;
        font-size: 13px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        padding-block: 5px;
        padding-inline: 30px;
        margin-left: 20px;
    }
}
