.switch {
    background-color: #f5fcff;
    height: 1.85rem;
    width: 16rem;
    position: relative;
    border-radius: 0.285rem;
    text-align: center;
    font-size: 0.9rem;
    .tag {
        transform: scale(1.05);
        height: 1.85rem;
        width: 50%;
        position: relative;
        top: 0px;
        border-radius: 0.285rem;
        transition: all 0.15s ease-in-out;
        cursor: pointer;
        user-select: none;
        z-index: 4;
       
    }
    .label {
        border:1px solid #c6c6c6;
        height: 1.85rem;
        width: 50%;
        position: absolute;
        border-radius: 0.285rem;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
    }
}
