.page404 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
    width: 100vw;
    background-color: #EFF1FF;
    color: white;

    &__vector1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 193.18px;
        height: 118px;
        opacity: 1;
    }

    &__vector2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 35.86px;
        height: 222.5px;
        opacity: 1;
    }

    &__vector3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 138px;
        height: 133px;
        opacity: 1;
    }

    &__404 {
        position: relative;
        max-width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }

    &__cables {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        &__Cable_A {
            width: 219px;
            height: 185px;
            opacity: 1;
        }

        &__Cable_B {
            width: 149px;
            height: 55px;
            opacity: 1;
            margin-left: 20px;
            margin-top: 120px;
        }
    }
    &__text {
        position: relative;
        font-size: 1.5rem;

        p{
            font-family: Catamaran;
            font-size: 20px;
            font-weight: 600;
            line-height: 32.8px;
            text-align: center;
            color: black;
            
        }
        

    }

    &__btn {
        position: relative;
        padding: 1rem 2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &Img {
            max-width: 100%;
            height: auto;
        }
    }
}
