.page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
        max-width: 500px;
    }
    a{
        text-decoration: none;
    }
}
.credit{
    margin-top: 3rem;
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--text);
    a{
        color: var(--question);
    }
}