.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 3.5rem;
    &__title{
        color: black;
        font-size: 1.5rem;
    }
    &__number{
        color: black;
        font-size: 2.5rem;
    }

    &__boxWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 0.7rem;
        &__box{
            background-color: var(--inputBackground);
            width: 3.1rem;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--h2Color);
            font-weight: 400;
            font-size: 2.1rem;
            border-radius: 0.125rem;
            padding: 0.7px 0.9px;
        }
    }
}