.mainCard {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    box-shadow: 0px 2px 4px 0px #B5C5E87A;
    box-shadow: 0px -2px 4px 0px #D0D9ED0D;
    left: 0.121rem;
    border-radius: 0.25rem;
    border-left: 0.625rem solid #B2E0E3;
    min-height: 7.875rem;

    a {
        text-decoration: none;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}