.card{
    background-color: var(--question);
    color:var(--question-text);

    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        color: var(--question-text);
    }
}