.simple-evaluation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text);

    .evaluation-box {
        display: flex;
        align-items: center;

        .thumb-icon {
            padding: 0.5rem;
        }
    }

    .total-evaluations {
        direction: ltr;
    }
}
