.radio-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    width: 100%;

    input[type="radio"] {
        display: none;
        background: var(--light-blue);
    }

    svg {
        width: 24px;
        height: 24px;
    }
}
