.in-room {

    margin-top: 2rem;
   max-width: 75ch;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    padding: 0 1rem;

    .welcome {
        margin-bottom: 3rem;

        h2 {
            color: var(--h2Color);

            text-align: inherit;
        }



        h3 {
            color: var(--subTopic);
            text-align: inherit;
            margin-top: 1rem;
        }
    }
    .digits{
        position:absolute;
        font-size: 2rem;
        transform: translateY(-50%);
    }

    .participants {
        margin: 1rem 0;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .name {
            font-size: .85rem;
        }
    }

    .image {
        background-image: url('../../../../../../../assets/images/teaching.png');
        width: 100%;
        min-height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        margin-bottom: 2rem;
    }
}

