.in-room {
    background-color: teal;
    margin-top: 2rem;

    width: 100%;
    min-height: 100vh;
    padding: 0 1rem;


    h2 {
        color: var(--h2Color);
        background-color: red;
        text-align: inherit;
    }



    h3 {
        color: var(--subTopic);
        text-align: inherit;
    }
}

// .container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     width: max-content;
//     margin: 0 auto;
//     padding: 0 1rem;
//     min-height: 40vh;

//     h2 {
//         color: var(--accent);
//     }
// }

// .message {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     padding: 0 1rem;
//     min-height: 40vh;
//     max-width: 90vw;
//     h2 {
//         color: var(--accent);
//         font-size: 2rem;
//     }

//     .text {
//         display: flex;
//         align-items: center;
//         text-align: center;
//         max-width: 90vw;
//         color: var(--accent);
//         font-size: 2.5rem;
//         font-weight: 600;
//         background-color: white;
//         padding: 1rem 3rem;
//         border-radius: 1rem;
//         box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.173);

//         span {
//             font-size: 4rem;
//             font-weight: 900;
//             animation: flash 1s infinite;

//             //on mobile
//             @media (max-width: 768px) {
//                 margin-left: 1.5rem;
//             }
//         }
//     }
// }

// //animation
// @keyframes flash {
//     0% {
//         opacity: 0.8;
//         color: var(--accent);
//         transform: scale(1);
//     }

//     50% {
//         opacity: 1;
//         color: black;
//         transform: scale(1.2);
//     }

//     100% {
//         opacity: 0.8;
//         color: var(--accent);
//         transform: scale(1);
//     }
// }