.main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    min-height: 296px;
    min-width: 340px;
    width: 400px;
    background-color: var(--white);
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0px 3px 6px rgba(159, 183, 195, 0.227);
    left: 0.121rem;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 10px;
        height: 1px;
        background-color: rgba(191, 207, 242, 0.828);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__notify {
        display: flex;
        flex-wrap: wrap;
        background-image: url(/src/assets/images/Notify.png);
        width: 30px;
        height: 30px;
    }

    &__img {
        display: flex;
        width: 80%;
        margin: 1rem 1.7rem 1rem 0;
    }

    &__text {
        display: flex;
        flex-flow: column;
        width: 40px;
        color: rgba(191, 207, 242, 0.877);
    }

    // mobile
    @media (max-width: 768px) {
        width: 90%;
    }

    a {
        text-decoration: none;
    }

    &__link {
        color: rgba(129, 143, 173, 0.932);
        width: 100%;
    }
}