.main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    min-height: 296px;
    width: 342px;
    background-color: var(--white);
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0px 3px 6px rgba(159, 183, 195, 0.227);
    left: 0.121rem;

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__notify {
        display: flex;
        flex-wrap: wrap;
        background-image: url(/src/assets/images/Notify.png);
        width: 30px;
        height: 30px;
    }

    &__img {
        background-image: url(/src/assets/images/imgThumb.png);
        width: 270px;
        height: 154px;
        margin: 1rem 0 1rem 0;
        background-repeat: no-repeat;
    }

    &__text {
        display: flex;
        flex-flow: column;
        width: 40px;
        color: rgba(129, 143, 173, 1);
    }


    //mobile
    @media (max-width: 768px) {
        width: 90%;
    }

    a {
        text-decoration: none;
    }

    &__link {
        color: rgba(129, 143, 173, 1);
        width: 100%;

    }
}