.wrapper{
  border: 2px solid rgb(208, 208, 208);
  border-radius: 6px;
  
}
section{
    border: 1px solid rgb(208, 208, 208);
    padding: 3px;
    border-radius: 3px;
    text-align: start;
}
h1{
    background-color: blue;
}
h2{
    background-color: green;
}
h3{
    background-color: yellow;
}
h4{
    background-color: orange;
}