.question {
	background-color: rgba(28, 28, 253, 0.762);
	color: rgb(244, 244, 244);
	padding: 0.3rem 1rem;
	border-radius: 1rem;
}

.option {
	background-color: rgb(241, 241, 241);
	color: rgb(60, 60, 60);
	padding: 0.3rem 1rem;
	border-radius: 1rem;
}

.statement {
	background-color: wheat;
	color: rgb(66, 66, 66);
	padding: 0px 1rem;
	border-radius: 1rem;
}

.result {
	background-color: rgb(143, 241, 143);
	color: rgb(60, 60, 60);
	padding: 0.3rem 1rem;
	border-radius: 1rem;
}
