.question-settings {
	display: flex;
	flex-direction: column;

	&__wrapper {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1.3rem;

		//on mobile
		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
		}

		> div {
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		}
	}

	.question-settings-dashboard {
		grid-column: 1 / span 2;
		grid-row: 1 / 3;
	}
}
