.statementChatMore {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    align-items: center;
    cursor: pointer;

    .text {
        font-size: 0.75rem;
        max-height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .icon {
        color: var(--question);
    }
}
