.statementChatMore {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 35px;
    justify-content: center;
    cursor: pointer;
    color: rgba(129, 143, 173, 1);


    .text {
        display: none;
        font-size: 0.75rem;
        max-height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .icon {
        display: flex;
        align-items: center;
        color: var(--question-header);

        .redCircle {
            position: absolute;
            top: -0.5rem;
            right: -0.7rem;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 1.3rem;
            background: red;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 0.75rem;
            margin-left: 5px;
            z-index: 0;
        }
    }

    .notify {
        background-image: url(/src/assets/images/Notify.png);
        margin: -4px;
        width: 30px;
        height: 30px;
    }
}