.statementChatMore {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    align-items: center;
    cursor: pointer;

    .text {
        font-size: 0.75rem;
        max-height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--text);
    }

    .icon {
        display: flex;
        align-items: center;
        color: var(--question);
        .redCircle {
            position: absolute;
            top: -0.5rem;
            right: -0.7rem;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 1.3rem;
            background: red;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 0.75rem;
            margin-left: 5px;
            z-index: 100;
        }
    }
}
