.p {
    display: block;
    font-size: .8rem;
    line-height: 1.2rem;
    user-select: text;
    font-weight: 300;

    &--bold {
        font-weight: 400;
    }
}

.title {
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.15rem;
    user-select: text;
    color: #3b4f7d;
    margin-bottom: .2rem;
}