.p {
    display: block;
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    user-select: text;
}

.title {
       font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.25rem;
    user-select: text;
    color: #3b4f7d;
}
