.p {
    display: block;
    margin-block-start: .3rem;
    margin-block-end: .3rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title {
    // display: block;
    // margin-block-start: .5rem;
    // margin-block-end: .5rem;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // font-weight: 500;

    font-family: "Roboto";
    font-size: 1.1rem;
    font-weight: 500;
   line-height: 1.25rem;
    text-align: left;
    color: #3B4F7D;
}