.participantsPerRoom{
    display: flex;
    justify-content: center;
    gap: 1rem;

    input{
        width: 3rem;
        text-align: center;
    }

    .add{
        background-color: var(--btn-tertiary);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        border-radius: (var(--radius));
    }
    
}
.btns{
    margin: .6rem 0rem;
}
