.section {
    margin-bottom: 2rem;
    height: fit-content;
    position: relative;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 80rem;
    padding: 1rem 0rem;
}
