.admin-arrange {
    .room-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0.5rem;
        grid-auto-rows: max-content;
        gap: 0.5rem;
        overflow-y: hidden;

        /* on mobile */

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
