.admin {
  
    padding-bottom: 100px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.nav {
    display: flex;
    justify-content: center;
    gap:1rem;
    position: sticky;
    width: 100%;
    bottom: 0px;
    left: 0px;
    max-width: 75ch;
    margin: auto;
}

.item {

    background-color: white;
    color: gray;
    flex: 1;
    border-radius: 1rem;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;

}

.title{
    background-color: white;
    color: gray;
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.05);
    padding: 1rem;
    font-size: 1.5rem;
    margin-top:4.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.item__selected {
    font-weight: 700;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid var(--accent);
    color: var(--accent);
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;



}


.roomWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .5rem;
    grid-auto-rows: max-content;
    gap:.5rem;
    overflow-y: hidden;

    /* on mobile */
    
    @media only screen and (max-width: 600px) {
       
        grid-template-columns: repeat(1, 1fr);
       
        
      }
}

.room {
    border: 1px solid black;
    padding: 1rem;
    border-radius: .6rem;
   
   
}

.room__badges{
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
    flex-wrap: wrap;
}
.room h4{
    color:gray;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0px 0rem .6rem 0px;
}

