body {
    background: #F2F6FF;
}

.splashPage {
    background: #F2F6FF;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    justify-content: space-between;

    &__freediIcon {
        margin-top: 5rem;
    }

    &__title {
        font-size: 5rem;
    }

    &__subTitle {
        font-size: 3rem;
        opacity: 0.7;
    }

    &__loginButton {
        background: white !important;
        color: red !important;
        border-radius: 5px;
    }

    h1,
    h2 {
        color: #fff;
    }

}

.number {
    color: #fadf57;
    position: relative;
    top: 0.8rem;
}

.h1 {
    font-size: 4.55rem;
    color: #fff;
}

.h2 {
    color: #fff;
    font-size: 1rem;
    opacity: 0.7;
}

.logo {
    max-width: 150px;
}

.slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 11rem;
    height: 2rem;
    font-size: 150%;
    max-width: 20rem;
    min-width: 20rem;
    text-align: center;
    white-space: nowrap;
}

.language {
    border-radius: 5rem;
    position: absolute;
    margin-top: 16rem;
}

.anonymous {
    background-color: #739EE4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27rem;
    height: 3.2rem;
    border-radius: 3rem;
    min-width: 30ch;
    color: white;
    gap: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 22rem;

    &.rowReverse {
        margin-left: 30rem;
    }
}


.anonymous.ltr {
    margin-right: 17rem;

}

.anonymous.rtl {
    margin-left: 20rem;
}

.StratPageImage {
    position: fixed;
    bottom: 0;
    height: 40%;
    max-height: 25rem;

    @media only screen and (max-width: 600px) {
        display: none;
    }
}

.StratPageImageMobile {
    position: fixed;
    bottom: 0;
    width: 110%;
    max-height: 25rem;
    display: none;
    height: 40%;
 
    @media only screen and (max-width: 600px) {
        display: block;
    }
}

F .ddi {
    color: white;
}

@media only screen and (max-width: 600px) {
    .anonymous.ltr {
        position: absolute;
        top: 19rem;
        left: 0;
        width: 25rem;
        border-radius: 0rem 3rem 3rem 0rem;
    }

    .anonymous.rtl {
        position: absolute;
        top: 19rem;
        right: 0;
        width: 20rem;
        border-radius: 3rem 0rem 0rem 3rem;
    }

    .language {
        margin-top: 14rem;
    }
}