.number {
    color: #fadf57;
    position: relative;
    top: 0.8rem;
}

.h1 {
    font-size: 4.55rem;
    color: #fff;
}

.h2 {
    color: #fff;
    font-size: 1rem;
    opacity: 0.7;
}

.logo {
    max-width: 150px;
}

.language {
    border-radius: 5rem;
    position: absolute;
    margin-top: 16rem;
}

.anonymous {
    background-color: #739EE4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27rem;
    height: 3.2rem;
    border-radius: 3rem;
    min-width: 30ch;
    color: white;
    gap: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 22rem;
    margin-right: 17rem;

    &.rowReverse {
        margin-left: 30rem;
    }
}

@media only screen and (max-width: 600px) {
    .anonymous {
        top: 19rem;
        position: absolute;
        right: 0;
        border-radius: 0rem 3rem 3rem 0rem;
    }
}

.StratPageImage {
    position: fixed;
    bottom: 0;
    height: 35%;
    width: 30%;
    max-height: 25rem;

    @media only screen and (max-width: 600px) {
        bottom: 0;
        width: 100%;
        max-height: 30rem;
    }
}

F .ddi {
    color: white;
}