.googleLogin {
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 3rem;
    width: fit-content;
    color: white;
    gap: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
    img {
        width: 1.4rem;
    }
}
