.googleLogin {
    background-color: #85D2C1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 3rem;
    width: fit-content;
    width: 18rem;
    height: 2.7rem;
    color: white;
    gap: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
    position: absolute;
    margin-top: 28rem;
    margin-left: 17rem;

    &.rowReverse {
        margin-right: 33rem;
    }

    img {
        width: 1.4rem;
    }
}


@media only screen and (max-width: 600px) {
    .googleLogin {
        position: absolute;
        margin-top: 25rem;
    }
    .googleLogin.ltr {
        border-radius: 3rem 0rem 0rem 3rem;
        right: 0;
    }
    .googleLogin.rtl {
        border-radius: 0rem 3rem 3rem 0rem;
        left: 0;
        margin-left: 0;

    }
}