.input {
  height: fit-content;
  width: 100%;
  font-size: 1.2rem;
  margin-inline: 10px;
}

.textarea {
  width: 100%;
  min-height: 4rem;
  height: 100%;
  flex: 1;
}

.editTitle-btn {
  background-color: lightblue;
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.input {
  width: 100%;
  padding-right: 45px; 
  border-radius: 10px;
}

.icon {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  width: 40px; 
  height: 40px; 
  border-radius: 25px;
}

.icon:hover{
    opacity: 0.7;
  }
