.textarea {
  width: 100%;
  min-height: 4rem;
  height: 100%;
  flex: 1;
}

.editTitle-btn {
  background-color: lightblue;
}

.container {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 5px;
  width: fit-content;
}

.input {
  height: fit-content;
  font-size: 1.2rem;
  border-radius: 5px;
}

.save {
  color: var(--dark-text);
  user-select: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: white;
  width: fit-content;
  padding: .3rem;
}