.input {
  height: fit-content;
  width: 100%;
  font-size: 1.2rem;
  margin-inline: 10px;
}

.textarea {
  width: 100%;
  min-height: 4rem;
  height: 100%;
  flex: 1;
}

.editTitle-btn {
  background-color: lightblue;
}

.container {
  position: relative;
}

.save {
  color: var(--dark-text);
  user-select: none;
  cursor: pointer;
  top: 50%;
  right: 1rem;
  transform: translate(1.1rem, -50%);
  border: none;
  position: absolute;
 background-color: white;

  padding: .3rem;

  

}