.form {
    width: 100%;
    max-width: 75ch;   
    position:fixed;
    bottom: -2px;
    z-index: 100;

    .textarea {
        padding: 0.3rem 70px 0.2rem 0.2rem;
        resize: none;
        outline: none;
        border: none;
        color: #232f4a;
        background-color: white;
        min-height: 4rem;
        flex: auto;
        box-shadow: 0px 2px 4px 0px rgba(181, 197, 232, 0.48);
        box-shadow: 0px -2px 4px 0px rgba(195, 202, 217, 0.5);
        font-size: 1rem;

        &::placeholder {
            color: #979797;
        }
    }

    .send {
        position: absolute;
        right:0px;
        top:0px;
        height: 100%;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        right: 0rem;

        user-select: none;
        cursor: pointer;
        background-color: #4e88c7;

        .sendBtn {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}