.mainWrapper {
	max-width: var(--wrapper);
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@media screen and (max-width: 768px) {
		padding: 0 1rem;

	}
}

.subElementsWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;

	}
}