@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

.passwordUi {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60ch;
	height: 100svh;

	img {
		width: 40%;
		height: auto;
	}

	&__statusSection {
		line-height: 1.5rem;
		width: 100%;
    text-align: center;

		p {
			font-size: 1.1rem;
			font-weight: 400;
		}

		&__passwordTextDefault {
			color: var(--h2Color);
		}
		&__passwordTextIncorrect {
			color: var(--incorrectText);
		}
		&__passwordTextCorrect {
			color: var(--correctText);
		}
	}

	&__inputSection {
		direction: ltr;
		margin-top: 1rem;
		display: flex;
		gap: 0.7rem;
		border-radius: 2px;
		width: 15rem;
		height: 4rem;

		input {
			font-family: 'Bellefair';
			align-items: center;
			text-align: center;
			font-size: 2.1rem;
			font-weight: 400;
			color: white;
			background-color: var(--button-blue);
		}
	}

	&__triesLeft {
		margin-top: 4rem;
		line-height: 1.5rem;
		width: 15rem;

		p {
			font-size: 1rem;
			text-align: center;
			font-weight: 400;
		}
	}

	&__buttonSection {
		margin-top: 4rem;

		button {
			justify-content: center;
			width: 12.5vw;
		}
	}
}
