@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

.passwordUi {
  margin-top: 5rem; // temporary
  margin-bottom: 5rem; // temporary
  margin-left: 50rem;
  width: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__imageSection {
    img {
      width: 15rem;
      height: 16rem;
    }
  }

  &__statusSection {
    margin-top: 4rem;
    line-height: 1.5rem;
    width: 15rem;

    p {
      font-size: 1.1rem;
      text-align: center;
      font-weight: 400;
    }

    &__passwordTextDefault {
      color: var(--h2Color);
    }
    &__passwordTextIncorrect {
      color: var(--incorrectText);
    }
    &__passwordTextCorrect {
      color: var(--correctText);
    }
  }

  &__inputSection {
    margin-top: 1rem;
    display: flex;
    gap: 0.7rem;
    border-radius: 2px;
    width: 15rem;
    height: 4rem;

    input {
      font-family: "Bellefair";
      align-items: center;
      text-align: center;
      font-size: 2.1rem;
      font-weight: 400;
      color: white;
      background-color: var(--button-blue);
    }
  }

  .passwordUi__buttonSection {
    margin-top: 6rem;

    button {
      justify-content: center;
      width: 15rem;
    }
  }
}
