// Input.module.scss
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto',
		sans-serif;
	width: 100%;
}

.label {
	font-size: 14px;
	position: relative;
	top: 0.875rem;
	left: -0.5rem;
	z-index: 1;
	background-color: #ffffff;
	width: fit-content;
	color: #7484a9;
	padding: 0 0.5rem;
	border-radius: 0.5rem;
	font-size: 1rem;


	&--ltr {
		text-align: left;
	}

	&--rtl {
		text-align: right;
	}
}

.inputContainer {
	flex: 1;
	border: 1px solid #bdcef4;
	border-radius: 0.5rem;
	padding: 1.25rem 1rem;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;

}

.searchIcon {
	position: absolute;
	left: 12px;
	pointer-events: none;
}

.input {
	width: 100%;
	height: 100%;
	border: none;
	resize: none;
	background: transparent;
	font-family: 'Roboto',
		sans-serif;
	font-size: 1rem;
	line-height: 150%;
	font-weight: 300;
	font-style: italic;
	color: #7484a9;
	padding: 0;
	min-height: 40px; // Or whatever minimum height you want
	resize: none; // Optional: prevents manual resizing
	overflow: hidden; // Prevents scrollbar from appearing
	box-sizing: border-box;
	width: 100%;

	&:focus {
		outline: none;
		border-color: #007bff;
	}
}

.clearButton {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem;

	@media screen and (max-width: 768px) {
		padding: .25rem;

	}

	svg {
		transform: scale(.8);
	}

	&:hover {
		opacity: 0.8;
	}

	&:focus {
		outline: 2px solid #007bff;
		border-radius: 4px;
	}
}

.clearIcon {
	display: block;



}