.solutions{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3erm;
    background-color:var(--results);
    color: var(--results-text);
    border-radius: .5rem;
    padding: .5rem;
    margin-right: 1rem;
    margin-top: 1rem;

    section{
        display: flex;
        flex-direction: column;
        font-size: .7rem;
        align-items: center;
        margin-left: 1rem;
        color:gray
    }
}

.solution{
   
    display: flex;
    flex-direction: column;
    padding: .3rem;
    margin: .1rem;
   
    border-radius: 0.5rem;
   
}