.footer {
    position: fixed;
    bottom: 0;
    width: 95%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--statementBackground);

    .add-statement-button {
        background: #5899e0;
        width: 3.135rem;
        height: 3.135rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0.1rem rgba(52, 103, 157, 0.108);
        user-select: none;
        cursor: pointer;
        z-index: 200;
        margin-bottom: 2.3rem;

        svg {
            color: white;
            width: 26px;
            height: 25px;
        }

        &:active {
            box-shadow: 0px 10px 50px 0px #4f5478b2;
        }
    }
}

