.timers{
    display: flex;
    gap:2rem;
    direction: ltr;
    flex-wrap: wrap;
  

    //on mobile
    @media (max-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}