.toast {
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
    box-shadow: 0 3px 6px #4162862b;
    font-size: 1rem;
    width: max-content;

    background-color: var(--tooltip);
    color: white;

    z-index: 1000;

    animation: jumpIn 1s cubic-bezier(.92,-0.02,.86,2.28) 0ms 1 normal forwards;
    //timing-function delay iteration-count direction fill-mode;

    &__text {
        padding: var(--padding);
        font-size: 1.3rem;
        max-width: 50ch;
        line-height: 2.2rem;
    }

    &__children {
        display: flex;
        justify-content: space-around;
        gap:3rem;
        align-items: center;
        margin:.5rem 2rem 2rem;
        
    }

    @keyframes jumpIn {
        0% {
            top:16rem;
            opacity: 0.3;
            transform: translateX(-50%) scale(0.5);
        }
        100% {
            top:4rem;
            opacity: 1;
            transform: translateX(-50%) scale(1);
        }
        
    }

    
}