.timer{
    display: flex;
    gap: 0.5rem;
    position: absolute;
    top: 30%;
    margin: 0 auto;
    background-color: white;
    padding:1rem;
    z-index: 100;
    border-radius: .5rem;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.time{
    display: flex;
   gap:3px;
    color: var(--light-blue);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    input{
        width: 3.5rem;
        height: 3rem;
        border-radius: 5px;
        border: 1px solid var(--light-blue);
        background-color: var(--white);
        color: var(--light-blue);
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
      
    }
}