.accessibility {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 13vh;
    left: 0px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.44);
    border-radius: 0px 100px 100px 0px;
    transition: all .5s ease-in-out; 

    &__fonts {

        display: flex;
        width: 12rem;
        background-color: white;
        padding: .3rem;
        gap:10px;
        >*{
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
           
        }

        &__control {
            background-color: rgb(186, 186, 186);
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 10rem;
            cursor: pointer;
            user-select: none;
            color: white;
            font-size: 1.5rem;
        }
    }

    &__button {
       
        padding: .4rem;
        border-radius: 0px 10rem 10rem 0px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }
}