.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    &__imgBox {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &__polygon {
            width: 10vw;
            max-width: 40px;
            height: 10vw;
            max-height: 40px;
            background-color: var(--question);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            transform: rotate(30deg);
            position: absolute;
            bottom: 10%;
            left: 25%;
            z-index: 0;
        }
    }

    &__tabs {
        width: 70%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--shadow);
        &__tab {
            font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
            font-weight: 500;
            line-height: 0.8rem;
            color: var(--text);
            cursor: pointer;
            font-size: 1rem;
            position: relative;
            &--active {
                color: var(--question);
                font-weight: 700;
            }
            .block {
                width: 1.5rem;
                height: 0.3rem;
                border-radius: 10px;
                background-color: var(--question);
                position: absolute;
                bottom: -0.7rem;
                left: 30%;
            }
        }
    }

    &__form {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &__buttons {
            display: flex;
            gap: 1rem;
            &__add {
                width: 70%;
                background-color: var(--question);
                color: var(--white);
            }
            &__cancel {
                width: 30%;
                background-color: var(--red);
                color: var(--white);
            }
        }
    }
}
