.bottomNav {
    width: 100%;
    position: relative;
    z-index: 5;

    &__iconbox {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        box-shadow: 2px 2px 5px var(--shadow);
        border-radius: 50%;
        cursor: pointer;
        transition: all 1s ease;
        position: absolute;
        left: calc(50% - 1.5rem);
        top: 0.5rem;
        &--burger {
            background-color: var(--question);
            z-index: 10;
        }
        &--active:nth-child(2) {
            z-index: 20;
            transform: rotate(-360deg);
            left: calc(50% - 1.5rem - 8rem);
        }
        &--active:nth-child(3) {
            z-index: 20;
            transform: rotate(360deg);
            left: calc(50% - 1.5rem - 4rem);
        }
        &--active:nth-child(4) {
            z-index: 20;
            transform: rotate(-360deg);
            left: calc(50% - 1.5rem + 4rem);
        }
        &--active:nth-child(5) {
            z-index: 20;
            transform: rotate(360deg);
            left: calc(50% - 1.5rem + 8rem);
        }
    }
}
