.btnBox,
.btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    // width: 100%;
}

button {
    border: none;
    cursor: pointer;
}

.btn {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    &--add {
        width: fit-content;
        background-color: var(--question);
        color: var(--white);
    }

    &--cancel {
        width: 30%;
        background-color: var(--red);
        color: var(--white);
    }

    &--agree {
        background-color: var(--agree);
    }

    &--disagree {
        background-color: var(--disagree);
    }

    &--large {
        font-size: 1.4rem;
        padding: 1rem;
        height: auto;
    }

    &--img {
        padding: .5rem 1rem;
        display: flex;
        height: auto;
        align-items: center;
        gap: 1rem;

        img {
            width: 2rem;
            height: 2rem;
        }

       

    }
}

.buttonOutlineWhite {
    background: none;
    border: 1px solid white;
}

.buttonOutlineWhite:active {
    background: rgba(255, 255, 255, 0.191);
}

.buttonOutlineGray {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgb(63, 63, 63);
    color: rgb(63, 63, 63);
}

.buttonOutlineGray:hover {
    background: rgba(126, 122, 122, 0.228);
}

.confirm {
    background: #51d051 !important;
}

.cancel {
    background: #e85353;
}

.negative {
    color: red;
}

.fav {
    background: var(--halfPrimary);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 50%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: pointer;
    z-index: 200;

    &:active {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &--blink {
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        animation: blinkFav 200ms ease-in-out 0s 35 alternate;
    }

    &--fixed {
        position: absolute;

        @media (max-width: 650px) {
            right: 1.5rem;
        }

        @media (max-width: 300px) {
            right: calc(50vw - 15ch);
        }
    }

    &--up {
        bottom: 24vh;
        right: 5vw;
    }

    &>div {
        z-index: 100;
        background: var(--accent);
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes blinkFav {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.9);
    }
}