.btnBox,
.btns {
    display: flex;
    justify-content: center;
    // width: 100%;
}

button,
.btn {
    width: max-content;
    padding: 12px 25px;
    margin: 5px 10px;
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 20rem;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;

    &--small {
        font-size: var(--size11);
        padding: 5px 7px;
    }

    &--cancel {

        background: orange;

    }

    &--danger {

        background: red;

    }

    &--default {
        background-color: var(--accent);
    }

    &--selected {
        background-color: var(--primary);
        border: 1px solid var(--accent);
        box-shadow: 0px 0px 4px #000000b5;
    }

    &--secondry {
        background-color: var(--secondry);
        border: 1px solid var(--accent);
        color: var(--accent);
    }

    &--nonactive {
        opacity: .3;
    }

    &:active {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
}


.buttonOutlineWhite {
    background: none;
    border: 1px solid white;
}

.buttonOutlineWhite:active {
    background: rgba(255, 255, 255, 0.191);
}

.buttonOutlineGray {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgb(63, 63, 63);
    color: rgb(63, 63, 63);
}

.buttonOutlineGray:hover {
    background: rgba(126, 122, 122, 0.228);
}

.confirm {
    background: #51d051 !important;
}

.cancel {
    background: #e85353;
}

.negative {
    color: red;
}

.fav {
    background: var(--halfPrimary);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 50%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: pointer;
    z-index: 200;

    &:active {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &--blink {
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        animation: blinkFav 200ms ease-in-out 0s 35 alternate;
    }

    &--fixed {
        position: fixed;
        right: 10vw;
        bottom: 8vh;

        @media (max-width: 650px) {
            right: 1.5rem;

        }

        @media (max-width: 300px) {
            right: calc(50vw - 15ch);

        }
    }

    &--up {
        bottom: 24vh;
        right: 5vw;
    }

    &>div {
        z-index: 100;
        color: white;
        text-align: center;
        font-size: 3rem;
        background: var(--accent);
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 4rem;
        // display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;


        svg {
            transform: rotate(180deg) translate(10%, 45%);
            align-items: center;
            justify-content: center;
        }
    }

}






@keyframes blinkFav {
    from {

        transform: scale(1);

    }

    to {
        transform: scale(.9);
    }
}