.homePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #659af0fa;
    z-index: 1;
    gap: 0px;
    margin-bottom: -0.2rem;

    @media only screen and (min-width: 900px) {
      background-color: #5d93f0;
    }
    @media only screen and (min-width: 1500px) {
      background-color: #5d8eec;
    }

    &.rtl {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 50px;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 70px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 1rem;
      max-width: 75ch;
      margin: auto;

      &__title {
        margin-bottom: 10rem;
        text-align: left;
        font-size: 2rem;
        color: white;
      }

      &__icons {
        margin-bottom: 10rem;
        position: relative;
        display: flex;
        justify-content: space-between;

        svg {
          height: 27px;
          color: white;
        }

        .homeMenu {
          position: absolute;
          user-select: none;
          cursor: pointer;
          top: 2rem;
          left: 2rem;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          gap: 0.4rem;
          background-color: white;
          padding: 1rem;
          box-shadow: 0px 1px 4px 0px #a9adf49a;
          border-radius: 0.36rem;
          z-index: 1003;
          transform: translateX(-20%);

          svg {
            color: black;
          }

          &__background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
        .homeMenu:hover {
          background-color: #d6d6d6;
        }
      }
    }
  }
}

.main-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroImg {
  width: 100%;
  height: 50vh;
  top: -5px;
  background-image: url("/src/assets/images/hero.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  transition: opacity 0.3s ease-in-out;

  @media only screen and (min-width: 900px) {
    background-size: cover;
    background-position: center;
    height: 58vh;
    z-index: -2;
    background-image: url("/src/assets/images/Hero BG illustrations (2).png");
  }

  @media only screen and (min-width: 1500px) {
    height: 20vh;
    top: 0;
  }
}

.bikeImg {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: -6rem;
  width: 276px;
  height: 140px;

  @media only screen and (min-width: 900px) {
    margin-top: -9rem;
    width: 350px;
    height: 220px;
  }
  @media only screen and (min-width: 1500px) {
    margin-top: -9rem;
  }
}

.scrollable-content {
  overflow-y: auto;
  height: 100%;
  position: relative;
  z-index: 0;
}
