.homePage {
    width: 100vw;
    height: 100svh;
    position: relative;
    display: flex;
    flex-direction: column;
    position: fixed;

    &__header {
        min-height: 6.25rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #659cf0;
        margin-bottom: 0;
        z-index: 1;

        @media only screen and (max-width: 570px) {
            margin-bottom: -.5px;
        }


        @media only screen and (min-width: 570px) {
            background-color: #588feef1;
        }

        @media only screen and (min-width: 870px) {
            background-color:
                #5c88e8f4;
        }

        &.rtl {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 50px;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 70px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 1rem;
            max-width: 75ch;
            margin: auto;

            &__title {
                text-align: center;
                font-size: 2rem;
                color: white;
            }

            &__icons {
                position: relative;
                display: flex;
                justify-content: space-between;

                svg {
                    height: 27px;
                    color: white;
                }

                .homeMenu {
                    position: absolute;
                    user-select: none;
                    cursor: pointer;
                    top: 2rem;
                    left: 2rem;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    gap: 0.4rem;
                    background-color: white;
                    padding: 1rem;
                    box-shadow: 0px 1px 4px 0px #a9adf49a;
                    border-radius: 0.36rem;
                    z-index: 1003;
                    transform: translateX(-20%);

                    svg {
                        color: black;
                    }

                    &__background {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .homeMenu:hover {
                    background-color: #d6d6d6;
                }
            }
        }
    }
}

.heroImg {
    background-image: url(../../assets/images/hero.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
    margin-top: 0;
    width: 100vw;
    height: 45vh;
    z-index: -2;

    @media only screen and (min-width: 570px) {

        background-image: url(../../assets/images/Hero-BG-illustrations.png);
        background-size: cover;
        background-position: center;
        margin-bottom: 2rem;
        margin-top: 0;
    }

    @media only screen and (min-width: 870px) {
        height: 16vh;
        margin-top: 0;
    }
}