.homePage {
    width: 100vw;
    height: 100svh;
    position: fixed;
    display: flex;
    flex-direction: column;

    &__header {
        min-height: 6.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #629bf1fd;
        margin-bottom: -.5px;
        z-index: 1;

        @media (min-width: 570px) {
            background-color: #5d8eec;
        }

        @media (min-width: 870px) {
            background-color: #5b91effc;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 70px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 1rem;
            max-width: 75ch;
            margin: auto;

            &__title {
                text-align: center;
                font-size: 2rem;
                color: white;
            }

            &__icons {
                position: relative;
                display: flex;
                justify-content: space-between;

                svg {
                    height: 27px;
                    color: white;
                }

                .homeMenu {
                    position: absolute;
                    user-select: none;
                    cursor: pointer;
                    top: 2rem;
                    left: 2rem;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    gap: 0.4rem;
                    background-color: white;
                    padding: 1rem;
                    box-shadow: 0 1px 4px #a9adf49a;
                    border-radius: 0.36rem;
                    z-index: 1003;
                    transform: translateX(-20%);

                    svg {
                        color: black;
                    }

                    &__background {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .homeMenu:hover {
                    background-color: #d6d6d6;
                }
            }
        }
    }
}

.home-page {
    &__main {
        height: 100%;
        overflow-y: auto;
        width: 100vw;

    }
}

.heroImg {
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
    margin-top: -6rem;
    width: 100vw;
    height: 33vh;
    background-image: url('../../assets/images/hero.png');


    @media (min-width: 570px) {
        background-image: url('../../assets/images/Hero-BG-illustrations.png');
    }

    @media (min-width: 870px) {
        background-image: url('../../assets/images/Hero-rectangle.png');
        height: 20vh;
        margin-top: -1rem;
    }
}

.heroImg {
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
    margin-top: -6rem;
    width: 100vw;
    height: 33vh;
    background-image: url('../../assets/images/hero.png');
}