/* Inputs */
input,
textarea {
	width: 100%;
	padding: 0.5rem;
	border: none;
	outline: none;
	word-break: keep-all;
	background-color: var(--inputBackground);
	background-color: var(--white);
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
}

textarea {
	resize: none;
}

input::placeholder,
textarea::placeholder {
	color: var(--placeHolder);
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.1rem;
	letter-spacing: 0.2px;
}

select {
	padding: 0.3rem;
	border: none;
	border-bottom: 1px solid rgb(211, 211, 211);
	font-size: 1.3rem;
	font-family: 'Open Sans', sans-serif;

	option {
		line-height: 1rem;
		margin: 2rem;
		font-size: 1.2rem;

		&:nth-child(even) {
			background: rgb(226, 236, 236);
			margin-bottom: 1rem;
		}
	}
}

.inputs {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
}

.inputs > * {
	margin-bottom: 10px;
	resize: none;
}

.inputDescription {
	height: 4rem;
}

.inputGeneral {
	border-radius: var(--roundBorderSmall);
	background-color: var(--gray5);
	font-size: var(--size15);
	border: none;
	padding: var(--regPadding);
	font-size: var(--size17);
	margin: 5px 0px;
}
