.mainCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 6.625rem;
    background-color: var(--white);
    border-radius: 0.25rem;
    padding: 1.5rem;  
    box-shadow: 0px 2px 4px 0px #B5C5E87A;
    box-shadow: 0px -2px 4px 0px #D0D9ED0D;

    left: 0.121rem;
    width: 100%;
    //mobile
    @media (max-width: 768px) {
        width: 90%;
    }

    a {
        text-decoration: none;
    }

}