.message {
    display: flex;
    flex-direction: column;
    direction: rtl;
    max-width: 75ch;
    margin: auto;
    padding: 0.3rem;

    &--me {
        display: flex;
        flex-direction: column;
        direction: ltr;
    }

    .question {
        background-color: var(--question);
        color: var(--question-text);
    }

    .option {
        background-color: var(--option);
        color: var(--option-text);
    }

    .result {
        background-color: var(--agree);
        color: var(--result-text);
    }

    &__box {
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        background-color: var(--white);
        padding: 1rem 1rem 0 1rem;
        margin: 0 4rem;
        border-radius: 10px;
        box-shadow: 3px 3px 3px var(--shadow);
        position: relative;
        &__triangle {
            clip-path: polygon(0 0, 0% 100%, 70% 0);
            background-color: inherit;
            height: 2rem;
            width: 2rem;
            position: absolute;
            top: 0;
            right: -1.2rem;
            &--me {
                clip-path: polygon(30% 0, 100% 100%, 100% 0);
                background-color: inherit;
                height: 2rem;
                width: 2rem;
                position: absolute;
                top: 0;
                left: -1.2rem;
            }
        }
        &__info {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
        &__actions {
            display: flex;
            justify-content: space-between;
            border-top: 2px solid var(--statementBackground);
            padding-top: 0.5rem;
            > div {
                display: flex;
            }
            &__type {
                gap: 1rem;
            }
            &__evaluations {
                gap: 3rem;
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-top: 0.5rem;
        &__avatar {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            text-align: center;
        }
    }
}
