.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(44, 46, 80, 0.7);
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;

    &__box {
        background-color: var(--statementBackground);
        border-radius: 6px;
        box-shadow: 0px 20px 50px 0px #21253633;
        box-shadow: 0px -4px 40px 0px #2125364d;
        height: fit-content;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
