.optionCard {
    border-radius: .35rem 0rem 0rem .35rem;
    background-color: white;

    box-shadow: 2px 2px 4px var(--shadow);
    padding: var(--padding);
    transition: all 1s ease-in-out;
    position: absolute;
    width: calc(100% - 2rem);
    gap: .4rem;
    box-sizing: border-box;
    margin-bottom: 20rem;


    &__info {
        color: var(--header);
        display: block;
        width: 100%;

        &__text {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            flex:1;
            width: 100%;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
        border-top: 1px solid var(--shadow);
    }

    &:nth-child(-1) {
        border-left: .71rem solid var(--accent);
    }
}

.options {

    &__bottom {
        height: 5rem;
        width: 100%;


    }





}

.press {
    background-color: var(--press);
    border-radius: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in-out;
}