.options {
    display: flex;
    flex-direction: column;

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex: auto;
        position: relative;
        box-sizing: border-box;
        padding: 0px;
    }

    &__card {
        transition: all 1s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        width: 100%;
        background-color: var(--white);
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;

        &__text {
            text-align: left;

            p {
                text-align: right;
               
                word-wrap: break-word;
                width: -webkit-fill-available;
            }
        }

        &__main {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        &__more {
            margin-top: 0px;
            display: flex;
            // grid-template-columns: 7.14rem 4.3rem 4.3rem;
            justify-content: space-around;
            align-items: center;


            &__vote {
                display: flex;
                border-radius: 1rem;
                gap: 0px;

                >div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .4rem;
                }
                &__up{
                    img{
                        transform: translateX(7px);
                    }
                }

                &__down {
                    img {
                        transform: rotate(0deg);
                    }
                }
            }
        }

        &__chat{
            display: flex;
         
           
        }






        //     &__text {
        //         display: flex;
        //         justify-content: space-between;
        //         align-items: center;
        //         padding: 10px;

        //         &__statement {
        //             display: flex;
        //             width: 100%;
        //             align-items: center;

        //             .text {
        //                 flex: auto;
        //                 text-align: right;
        //                 padding: 10px 20px;
        //                 word-wrap: break-word;
        //                 width: -webkit-fill-available;
        //             }

        //             .icon {
        //                 padding: 10px;
        //             }
        //         }
        //     }
        // }
    }

    &__nav {
        background-color: var(--white);
        display: flex;
        width: 100vw;
        max-width: 75ch;
        margin: 0 auto;
        z-index: 100;
        box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);

        a {
            text-decoration: none;
        }

        &__button {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 5px 20px 5px;
            border-bottom: 2px solid rgba(0, 0, 0, 0);

            &--selected {
                border-top: 2px solid var(--accent);
                font-weight: 500;
            }
        }
    }
}
.press{
    background-color: var(--press);
    border-radius: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all .2s ease-in-out;
}