.page {
    width: 100vw;
    height: 100svh;
    // min-height: -webkit-fill-available;
    position: relative;
    display: flex;
    flex-direction: column;


    h1,
    h2 {
        text-align: center;
    }

    &__header {
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.486);
        z-index: 100;
        width: 100vw;
        background-color: var(--white);

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;

            svg {
                margin: 10px;
            }

            //only not on mobile
            @media screen and (min-width: 600px) {
                max-width: 75ch;
                margin: auto;

            }

        }
    }

    &__main {
        overflow-y: auto;
        flex: auto;
    }

    &__footer {
        // box-shadow: 0px -3px 9px rgba(0, 0, 0, 0.486);
        z-index: 100;

    }

    // animations

    &--anima{
        &__backOutScreen{
           animation: fadeUpOut 200ms ease-in-out 0s 1 forwards normal;
        }
        &__backInScreen{
            animation: comeinUpIn 200ms ease-in-out 0s 1 forwards normal;
        }

        &__forwardOutScreen{
            animation: forwardOutScreen 200ms ease-in-out 0s 1 forwards normal;
        }
        &__forwardInScreen{
            animation: forwardInScreen 200ms ease-in-out 0s 1 forwards normal;
        }



    }
}

@keyframes fadeUpOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes comeinUpIn {
    0% {
        transform: scale(.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes forwardOutScreen {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(.8);
        opacity: 0;
    }
}

@keyframes forwardInScreen {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
   
    





.page__grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
}