.page {
    width: 100%;
    height: 100svh;
    position: relative;
    display: grid;
    position: fixed;
    grid-template-rows: auto 1fr auto;
    background-color: var(--bg-screen);


    &__header {
        width: 100%;
        box-shadow: 0px 3px 9px #00000026;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        background-color: #5899e0;
        border-radius: 0 0 5rem 0/ 0 0 4rem 0;
        padding-bottom: 1rem;

        &.rtl {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 50px;

            .back-arrow-icon {
                transform: rotate(180deg);
                color: white;
                width: 24px;
                height: 24px;
            }
        }

        &__wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 1rem;

            @media screen and (min-width: 600px) {
                max-width: 75ch;
                margin: auto;
            }

            &__actions {
                display: flex;
                align-items: center;
                gap: 1rem;

                &__iconButton {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;

                    svg {
                        height: 24px;
                    }
                }
            }
        }

        &__nav {
            display: flex;
            width: 90%;
            max-width: 75ch;
            margin: 0 auto;
            justify-content: center;

            &__button {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                border-bottom: 2px solid rgba(0, 0, 0, 0);
                letter-spacing: 0.3px;
                opacity: 0.7;

                &--selected {
                    font-size: 1.1rem;
                    opacity: 1;
                    background-color: white;
                    border-radius: 2rem;
                    padding: 0.5rem 1rem;
                    min-width: fit-content;
                    color: var(--question);
                    display: block flex;
                    height: 2.5rem;
                    margin-top: 0.5rem;

                    @media only screen and (max-width: 600px) {
                        height: 5rem;
                    }}

                &__tabTxt {
                    display: none;
                    font-weight: 600;
                    margin-left: 4px;
                }

                &--selected &__tabTxt {
                    display: inline;
                    color: var(--question);
                }

                &__navIcon {
                    height: 2rem;

                    @media only screen and (max-width: 600px) {
                        height: 1.3rem;
                    }
                }

                &--selected {
                    font-size: 1rem;
                    padding: 0.5rem 0.5rem;
                    margin: 0rem;
                    min-width: fit-content;
                    color: var(--question);
                    display: block flex;
                    height: 2.5rem;
                    margin-top: 0.5rem;
                }

            }
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        width: 100vw;
    }

    &__footer {
        width: 100%;
        max-width: 82ch;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        position:absolute;
        bottom: 0;
        left:50%;
        transform: translateX(-50%);

        &__form {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 1rem;

            &__input {
                padding: 1.2rem 1.5rem 1rem 1.5rem;
                resize: none;
                outline: none;
                border: none;
                color: #232f4a;
                border-radius: 3rem;
                flex: auto;
                box-shadow: 0px 2px 4px 0px rgba(181, 197, 232, 0.48);
                box-shadow: 0px -2px 4px 0px rgba(195, 202, 217, 0.5);
            }

            @media only screen and (min-width: 600px) {
                max-width: 75ch;
                margin: 0 auto;
            }

            &__sendBtnBox {
                width: 4rem;
                height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                border-radius: 50%;
                box-shadow: 0px 4px 13px -2px #696b8bcc;
                user-select: none;
                cursor: pointer;
                background-color: #4e88c7;

                .sendBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}