.page {
    width: 100vw;
    height: 100svh;
    position: relative;
    display: flex;
    flex-direction: column;
    position: fixed;

    &__header {
        box-shadow: 0px 3px 9px #00000026;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;
        background-color: white;
        color: rgb(64, 64, 64);
        z-index: 1;

        a {
            text-decoration: none;
            color: var(--text);
        }

        &--question {
            background-color: var(--question);
            color: var(--question-text);
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 1rem;

            //only not on mobile
            @media screen and (min-width: 600px) {
                max-width: 75ch;
                margin: auto;
            }
        }
    }

    &__main {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;

        &__bottom {
            margin-top: auto;
        }
    }
}







.homePage {
    width: 100vw;
    height: 100svh;
    position: relative;
    display: flex;
    flex-direction: column;
    position: fixed;

    &__header {
        min-height: 6.25rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #4E88C7;
        box-shadow: 0px 1px 4px 0px #a9adf49a;
        border-bottom-right-radius: 50px;
        z-index: 1;
        gap: 20%;
        margin-bottom: 2rem;


        &__title {
            display: flex;
            align-items: center;

            &__homeTitle {
                font-family: Roboto;
                font-size: 21px;
                font-weight: 500;
                line-height: 28px;
                text-align: left;
                color: white;
            }

        }

        &__icons {
            display: flex;
            cursor: pointer;

            &__headerIcon {
                margin-left: 3.5rem;
            }
        }

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 1rem;

            //only not on mobile
            @media screen and (min-width: 600px) {
                max-width: 75ch;
                margin: auto;
            }
            

        }

    }

    
}
