.roomsCards {
    &__admin {
        max-width: 75ch;
        margin-bottom: 100px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-end: auto;
        grid-auto-rows: 120px;
        gap: 0.7rem;
        width: 100%;
        margin: 0 auto;
        padding: 1.2rem;
        box-sizing: border-box;

        //on mobile
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 100px;
            width: 100%;
        }

   
    }


}
