.setStatement {
    width: 100vw;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    &__header {
        box-shadow: 0px 3px 9px #00000026;
        width: 100%;
        height: 10svh;
        max-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__back {
        padding: 0 1rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        max-width: 75ch;
        gap: 1.5rem;
        margin: 0.5rem auto;
        padding: 2rem;
        overflow-y: auto;

        &__membersBox {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.5rem;
        }

        input {
            font-size: 1.2rem;
            padding: 1rem;
            width: 100%;
            outline: none;
        }
        textarea {
            padding: 1rem;
            font-size: 1.2rem;
            width: 100%;
            outline: none;
            resize: none;
        }
        &::-webkit-scrollbar {
            width: 1.5rem;
        }
        &::-webkit-scrollbar-thumb {
            background: linear-gradient(
                45deg,
                var(--accent),
                var(--halfPrimary)
            );
            border-radius: 1rem;
        }
        &__membersBox {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}
