.setStatement {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__back {
        padding: 0 1rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        max-width: 75ch;
        gap: 0.7rem;

        input {
            margin: 5px;
            font-size: 1.2rem;
            padding: 15px;
        }
        textarea {
            margin: 5px;
            font-size: 1.2rem;
            padding: 15px;
            height: max-content;
        }
    }
}
