.setStatement{
    &__header{
        display: flex;
        // flex-direction: row-reverse;
        justify-content: space-between;
        align-items:center;
    }
    &__back{
        padding: 10px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        max-width: 75ch;
      
        gap: 20px;

        input{
            margin: 5px;
            font-size: 1.2rem;
            padding: 15px;
        }
        textarea{
            margin: 5px;
            font-size: 1.2rem;
            padding: 15px;
            height:max-content;
        }
    }

}