.settings {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 75ch;
    gap: 1.5rem;
    margin: 0.5rem auto;
    padding: 2rem;
    position: relative;

    textarea,
    input[type="text"] {
        padding: 1rem;
        font-size: 1.2rem;
        width: 100%;
        outline: none;
        resize: none;
    }

    section {
        border-top: 1px solid var(--shadow);
        padding-top: 1rem;
    }

    &__checkboxSection {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        &__column {
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 1.5rem;
            &__title {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 24px;
            }
            &__label {
                display: flex;
                align-items: center;
                gap: 1rem;

                // Preventing text selection
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        }
    }

    &__resultsBy {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &__title {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 24px;
        }
        &__radioBox {
            margin-left: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;
            input[type="radio"] {
                display: none;
            }
        }
    }

    &__rangeSection {
        display: flex;
        flex-direction: column;
        &__label {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 24px;
        }
        &__rangeBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            &__range {
                width: 60%;
                outline: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    &__getVoters {
        height: fit-content;
        min-height: 100px;
        &__btn{
            background-color: var(--light-purple);
            color: var(--white);
        }
        &__chipBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            max-width: 80rem;
            padding: 1rem 0rem;
        }
    }

    &__getEvaluators {
        height: fit-content;
        min-height: 100px;
        margin-bottom: 5rem;
        &__btn {
            background-color: var(--light-green);
            color: var(--white);
        }
    }

    &__submitBtn {
        width: 20%;
        height: 2rem;
        margin: auto;
        font-size: 1rem;
        border: none;
        outline: none;
        background-color: var(--question);
        color: var(--question-text);
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 10px 10px var(--shadow);
        position: fixed;
        bottom: 2rem;
        left: 40%;
        &:hover {
            transform: scale(0.9);
        }
    }
}

@media screen and (max-width: 500px) {
    .settings__checkboxSection {
        display: flex;
        flex-direction: column;
        &__column:first-child {
            width: 40%;
        }
        &__column:last-child {
            border-top: 1px solid var(--shadow);
            padding-top: 1rem;
        }
    }
}

.formBtn{
    height: 2rem;
    padding: 0 .5rem;
    margin: auto;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 10px 10px var(--shadow);
}