.settings {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 75ch;
    gap: 1.5rem;
    margin: 0.5rem auto;
    padding: 2rem;
    position: relative;
    padding-bottom: 5rem;

    textarea,
    input[type="text"] {
        margin-top: 2rem;
        padding: 1rem;
        font-size: 1.2rem;
        width: 100%;
        outline: none;
        resize: none;
        background-color: #f5fcff;
        box-shadow: 0px 2px 6px 0px rgba(170, 187, 227, 0.253);
        box-shadow: 0px -2px -4px 0px rgba(193, 204, 229, 0.31);
    }

    section {
        border-top: 1px solid var(--shadow);
        padding-top: 1rem;
    }

    &__checkboxSection {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5rem;
        margin: 4rem 0 4rem 0;

        &__column {
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 3rem;
            &__title {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 2rem;
            }
            &__label {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }

    &__resultsBy {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 4rem;

        &__title {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 24px;
        }
        &__radioBox {
            margin-left: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;
            input[type="radio"] {
                display: none;
                background: #4e88c7;
            }
        }
    }

    &__rangeSection {
        display: flex;
        flex-direction: column;

        &__label {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 24px;
        }
        &__rangeBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            margin-bottom: 3rem;

            &__range {
                width: 60%;
                height: 3px;
                outline: none;
                margin: 0;
                padding: 0;
                cursor: pointer;
                box-shadow: 0px 2px 4px 0px #c9d1e4 inset;
                border-radius: 6px;
                outline: none;
                border: none;
                -webkit-appearance: none;
            }

            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 15px;
                height: 30px;
                background: #4e88c7;
                box-shadow: 0px -2px 6px -5px #b1aaca66;
                box-shadow: 0px 2px 6px 0px #aca8c566;
                border-radius: 10px;
                border: none;
                cursor: pointer;
            }
        }
    }

    &__getUsers {
        height: fit-content;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        &__evaluatorsBtn {
            background-color: var(--light-green);
            color: var(--white);
        }
        &__votersBtn {
            background-color: var(--light-purple);
            color: var(--white);
        }
        &__chipBox {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            width: 100%;
        }
    }

    &__submitBtn {
        width: 20%;
        height: 2rem;
        margin: auto;
        font-size: 1rem;
        border: none;
        outline: none;
        background-color: #4e88c7;
        color: var(--question-text);
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 10px 10px var(--shadow);
        position: fixed;
        bottom: 2rem;
        left: 40%;
        z-index: 1000;
        &:hover {
            transform: scale(0.9);
        }
    }

    &__membersBox {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .settings__checkboxSection {
        display: flex;
        flex-direction: column;

        &__column:last-child {
            border-top: 1px solid var(--shadow);
            padding-top: 1rem;
        }
    }
}

.formBtn {
    height: 2rem;
    padding: 0 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 10px 10px var(--shadow);
}
