.splashPage {
    background: #2244BF;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-between;
    padding: 2rem 0;
    width: 100vw;
    height: 100svh;


    &__title {
        font-size: 5rem;
    }
    &__subTitle {
        font-size: 3rem;
        opacity: 0.7;
    }
    &__loginButton {
        background: white !important;
        color: red !important;
        border-radius: 5px;
    }
    h1,
    h2 {
        color: #fff;
    }
}

// .inputLogin {
//     background: #ffffff00;
//     border: 1px solid transparent;
//     border-bottom: 1px solid wheat;
//     color: white;
//     font-size: 1.5rem;
//     font-family: "Varela Round", sans-serif;
// }

// .inputLogin::placeholder {
//     color: white;
// }

// .login__callForAction {
//     max-width: var(--maxWidthOnPC);
//     font-size: 3rem;
//     word-wrap: break-word;
// }
