.splashPage {
    background: var(--mainBackground);
    color: var(--mainColor);
    transition: all .3s;
}

#login__splashName {
    font-size: 3rem;
    margin-bottom: 1rem;
    
}

#login__splashSubName {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.opacity07{
    opacity: 0.7;
}

.loginButton {
    background: white !important;
    color: red !important;
    display: flex;
    position: relative;
}

.loginButton>div {
    margin: auto;
    font-size: 1.2rem;
}

.anonymousLogin {
    width: fit-content;
    margin: 40px auto;
}

.inputLogin {
    background: #ffffff00;
    border: 1px solid transparent;
    border-bottom: 1px solid wheat;
    color: white;
    font-size: 1.5rem;
    font-family: 'Varela Round', sans-serif;
}

.inputLogin::placeholder {
    color: white;
}

.login__callForAction{
    max-width:var(--maxWidthOnPC);
    font-size: 3rem;
    word-wrap:break-word;
}