.statement {
    flex: auto;
    display: flex;
    flex-direction: column;

    &__main {
        display: flex;
        flex-direction: column;
        flex: auto;
        max-width: 75ch;
        margin: 0 auto;
    }

    &__nav {
        display: flex;
        width: 100vw;
        max-width: 75ch;
        margin: 0 auto;

        &__button {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            letter-spacing: 0.5px;
            opacity: .7;

            &--selected {
                font-size: 1.1rem;
                opacity: 1;
            }
        }
    }

    &__bubble {
        width: fit-content;

        &__text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;

            word-break: break-word;
            margin-bottom: 0.2rem;
            width: fit-content;
        }

        &__more {
            display: flex;
            justify-content: start;
            gap: 20px;
            align-items: center;
            margin-bottom: -3px;
            opacity: 0.7;
            border-top: 1px solid #e0e0e0;

            .icon {
                cursor: pointer;
                user-select: none;
            }
        }

        &__proCon {
            display: flex;
            align-items: center;
            gap: 4px;
            margin: 20px 0px;

            .icon {
                transform: scaleX(-1);
            }
        }

        &--option {
            box-shadow: 0px 0pc 30px rgba(250, 245, 101, 0.877);
        }
    }

    &__chatCard {
        display: flex;
        gap: 10px;

        .question {
            &--yes {
                background-color: var(--question);
                color: var(--question-text);
            }

            &--no {
                background-color: white;
            }
        }

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        &__main {
            flex: auto;
            background-color: white;
            padding: 20px;
            border-radius: 10px;

            &--me {
                border-radius: 10px 10px 0px 10px;
                background-color: #bcefbc;
            }

            &--other {
                border-radius: 10px 10px 10px 0px;
                background-color: #e0e0e0;
            }
        }

        &--other {
            flex-direction: row-reverse;
        }

        &__profile {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-color: teal;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            text-align: center;
        }
    }

    &__form {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;

        &__input {
            padding: 0.5rem 1rem;
            resize: none;
            outline: none;
            border: none;
            border-radius: 3rem;
            flex: auto;
            box-shadow: 0px 2px 4px 0px rgba(181, 197, 232, 0.48);
            box-shadow: 0px -2px 4px 0px rgba(195, 202, 217, 0.5);
        }

        @media only screen and (min-width: 600px) {
            max-width: 75ch;
            margin: 0 auto;
        }

        &__sendBtnBox {
            width: 4.5rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            border-radius: 50%;
            box-shadow: 0px 4px 13px -2px #696B8BCC;
            user-select: none;
            cursor: pointer;
            background-color: #4E88C7;
            


            .sendBtn {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }


}

.bubble {
    --r: 25px;
    /* the radius */
    --t: 30px;
    /* the size of the tail */
    border-radius: 10px 10px 10px 0px;
    padding: calc(2 * var(--r) / 3);

    background-color: #ffffff;
    color: #464646;
    box-shadow: 0px 0px 10px #0000001f;

    //on mobile max width should be limeted
    @media only screen and (max-width: 600px) {
        max-width: 70vw;
    }
}

.left {
    border-radius: 15px 15px 15px 0px;
}

.right {
    border-radius: 15px 15px 0px 15px;
}