.statement {
    flex: auto;
    display: flex;
    flex-direction: column;

    &__main {
        display: flex;
        flex-direction: column;
        flex: auto;
        max-width: 75ch;
        margin: 0 auto;
    }

    &__bubble {
        width: fit-content;

        &__text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;

            word-break: break-word;
            margin-bottom: 0.2rem;
            width: fit-content;
        }

        &__more {
            display: flex;
            justify-content: start;
            gap: 20px;
            align-items: center;
            margin-bottom: -3px;
            opacity: 0.7;
            border-top: 1px solid #e0e0e0;

            .icon {
                cursor: pointer;
                user-select: none;
            }
        }

        &__proCon {
            display: flex;
            align-items: center;
            gap: 4px;
            margin: 20px 0px;

            .icon {
                transform: scaleX(-1);
            }
        }

        &--option {
            box-shadow: 0px 0pc 30px rgba(250, 245, 101, 0.877);
        }
    }

    &__chatCard {
        display: flex;
        gap: 10px;

        .question {
            &--yes {
                background-color: var(--question);
                color: var(--question-text);
            }

            &--no {
                background-color: white;
            }
        }

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        &__main {
            flex: auto;
            background-color: white;
            padding: 20px;
            border-radius: 10px;

            &--me {
                border-radius: 10px 10px 0px 10px;
                background-color: #bcefbc;
            }

            &--other {
                border-radius: 10px 10px 10px 0px;
                background-color: #e0e0e0;
            }
        }

        &--other {
            flex-direction: row-reverse;
        }

        &__profile {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-color: teal;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            text-align: center;
        }
    }

    


}

.bubble {
    --r: 25px;
    /* the radius */
    --t: 30px;
    /* the size of the tail */
    border-radius: 10px 10px 10px 0px;
    padding: calc(2 * var(--r) / 3);

    background-color: #ffffff;
    color: #464646;
    box-shadow: 0px 0px 10px #0000001f;

    //on mobile max width should be limeted
    @media only screen and (max-width: 600px) {
        max-width: 70vw;
    }
}

.left {
    border-radius: 15px 15px 15px 0px;
}

.right {
    border-radius: 15px 15px 0px 15px;
}