.statement {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;

    &__main {
        display: flex;
        flex-direction: column;
        flex: auto;
        min-width: 0px;
        overflow-x: auto;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__nav {
        display: flex;
        width: 100vw;
        max-width: 75ch;
        margin: 0 auto;

        a {
            text-decoration: none;
            box-sizing: border-box;
            transition: all 0.2s ease-in-out;
        }

        &__button {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-bottom: 2px solid rgba(0, 0, 0, 0);


            &--selected {
                border-bottom: 2px solid var(--accent);
                font-weight: 500;
            }
        }

    }

    &__bubble {
        width: fit-content;

        &__text {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;

            word-break: break-word;
            margin-bottom: .2rem;
            width:fit-content;
        

          
        }

        &__more {
            display: flex;
            justify-content: start;
            gap: 20px;
            align-items: center;
            margin-bottom: -3px;
            opacity: 0.7;
            border-top: 1px solid #e0e0e0;



            .icon {
                cursor: pointer;
                user-select: none;
            }
        }

        &__proCon {
            display: flex;
            align-items: center;
            gap: 4px;
            margin: 20px 0px;

            .icon {
                transform: scaleX(-1);
            }
        }

        &--option {
            box-shadow: 0px 0pc 30px rgba(250, 245, 101, 0.877);
        }
    }

    &__chatCard {
        display: flex;
        gap: 10px;

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__main {
            flex: auto;
            background-color: white;
            padding: 20px;
            border-radius: 10px;

            &--me {
                border-radius: 10px 10px 0px 10px;
                background-color: #bcefbc;
            }

            &--other {
                border-radius: 10px 10px 10px 0px;
                background-color: #e0e0e0;

            }
        }


        &--other {

            flex-direction: row-reverse;
        }

        &__profile {
            // position: absolute;
            // top: -5px;
            // right: -20px;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background-repeat: no-repeat;
            background-color: teal;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            text-align: center;
        }
    }

    &__input {
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 3rem;

        align-items: center;
        background: linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 1) 35%, rgba(232, 232, 232, 1) 100%);

        >* {
            margin: 5px;
        }

        @media only screen and (min-width: 600px) {
            max-width: 75ch;
            margin: 0 auto;
        }

        button {

            width: 4rem;
            height: 4rem;
            border: none;

            color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                transform: rotate(180deg) translateX(16px);
            }

        }

        textarea {
            border-radius: 4rem;
            min-height: 5ch;
            flex: auto;
            padding: 5px 15px;
            color: gray;
            resize: none;
            outline: none;
        }
    }



    &__vote {
        box-sizing: border-box;
        display: flex;
        flex: auto;
        margin: 20px 0;
        padding: 20px;
        overflow-x: auto;
        width: 100%;
        // gap: 20px;
        position: relative;

        &__bar {
            position: relative;
            bottom: 0px;
            width: 130px;
            // left: 0px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 10px;
            transition: all 500ms ease-in-out;

            &__column {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;

                &__bar {
                    height: 0px;
                    width: 120px;

                    background-color: #61b4e4;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 500ms ease-in-out;
                }

            }

            &__btn {
                border-radius: 5px;
                background-color: teal;

                color: white;
                user-select: none;
                cursor: pointer;
                width: 120px;
                height: 80px;
                padding: 10px;
                white-space: wrap;
                word-wrap: break-word;
                overflow: hidden;
                text-align: center;
                // border-top:1em solid transparent;
                // border-bottom:1em solid transparent;
                text-overflow: ellipsis;

                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 150ms ease-in-out;

                :hover,
                :active {
                    overflow: visible;
                }

                &--selected {
                    background-color: rgb(3, 167, 167);
                    box-shadow: 0px 0px 10px rgb(0, 0, 0);
                }
            }
        }

    }
}

.bubble {
    --r: 25px;
    /* the radius */
    --t: 30px;
    /* the size of the tail */
    border-radius: 10px 10px 10px 0px;
  
    padding: calc(2*var(--r)/3);
    background-color: #ffffff;
    color: #464646;
    box-shadow: 0px 0px 10px #0000001f;


    //on mobile max width should be limeted
    @media only screen and (max-width: 600px) {
        max-width: 70vw;
    }
}

.left {
    border-radius: 15px 15px 15px 0px;
   
}

.right {


    border-radius: 15px 15px 0px 15px;
   
}