@import "./homePage.scss";
@import "./input.scss";
@import "./start.scss";
@import "./room.scss";
@import "./page.scss";
@import "./buttons.scss";
@import "./pageAnimation.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Patrick+Hand&display=swap&family=Roboto");

:root {
    // --- MAIN COLORS ---
    --mainBackground: #1f5895;
    --statementBackground: #f2f6ff;
    --inputBackground: #f5fcff;
    --mainBackgroundError: #ff0000;

    //alerts
    --alert: #dd90b6;
    --notify:#D98FF3;

    // Option
    --option: #e7d080;
    --option-text: #3b4f7d;

    //results
    --result: #a9adf4;
    --result-text: white;

    //question
   

    

    //evaluation
    --agree: #57c6b2;
    --disagree: #fe6ba2;

    //shadow
    --shadow: rgba(181, 197, 232, 0.486);

    
   
    
 

    //buttons
    --inactive: rgb(207, 207, 207);
    --inactive-text: #acacac;

    //tooltip
    --tooltip: #6DB0F9;
    --accent: #7cacf8;

    // --- SIZES ---
    --padding: 1rem;

    --white: white;
    --red: #e8749e;

    // --- Colors ---

    // header -colors
    --question-header: #62beeb;

    // main colors
    --green:#6FC5BE;
    --light-green: #84cccf;
    --blue:#5899E0;
    --light-blue:#8DBEF2;
    --dark-blue:#4789D1;
    --crimson:#E8749E;
    --purple:#B1A4FC;
    --light-purple: #b1a4fc;

    //settings colors
    --settings-suggestions:#68B4D4;
    --settings-first-evaluation:#d4abf7;
    --settings-second-evaluation:#f38ec2;
    --settings-voting:#fba669;
    --settings-finished:#e8749e;

    //texts
    --header: #3b4f7d;
    --h2Color: #232F4A;
    --subTopic: #7D9DBC;
    --dark-text:#3B4F7D;
    --text: #6e8aa6;
    --textOnDark: white;
    --placeHolder: #93b6da;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    margin: 0px;

    height: fit-content;
}

body {
    width: 100svw;
    height: 100svh;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    background: var(--pageBackground);
    overflow: hidden;
}

h1 {
    font-weight: 500;
}

h2 {
    color: var(--h2Color);
    font-weight: 400;
}

h1,
h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

b {
    font-family: "Open Sans", sans-serif;
    user-select: text;
}

.wrapperAll {
    position: relative;
    margin: auto;
    max-width: var(--maxWidthOnPC);
    min-width: 75ch;
    padding: 10px;
}

.wrapper {
    flex: auto;
    width: 100%;
    max-width: 75ch;
    gap: 1rem;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.card {
    background: white;

    border-radius: 3px;
    direction: rtl;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

    h2 {
        color: var(--black);
        font-size: var(--size15);
    }

    p {
        color: var(--gray1);
        font-size: var(--size13);
    }
}

.hand {
    font-family: "Patrick Hand", cursive;
}

.hidden {
    display: none;
}

.scroll {
    overflow-y: auto;
}



.icon {
    cursor: pointer;
    user-select: none;
    position: relative;
    margin: 0.5rem 0.7rem 0px 0px;
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.draggable {
    cursor: grab;
}

.href {
    &--undecorated {
        text-decoration: none;
        color: inherit;
    }
}
