.termsOfUse {
    max-width: 60ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    &__title {
        color: var(--header);
    }
}
