.votingWrapper {
    flex: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: auto;

    .hand {
        color: #41a1da;
        font-family: "Patrick Hand", cursive;
        width: 100%;
        max-width: 75ch;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        gap: 0.7rem;
        padding: 1rem;

        svg {
            width: 17px;
            height: 19px;
        }
    }

    .verticalVote {
        display: flex;
        direction: rtl;
        margin: 0 auto;
        height: 100%;
        padding: 0 2rem;

        &__bar {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            transition: all 500ms ease-in-out;

            &__title {
                transform: rotate(270deg) translate(11rem, -3rem);
                color: #6e8aa6;
                width: 19rem;
                text-align: end;
            }

            &__hand svg {
                width: 32px;
                height: 32px;
            }

            &__column {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
                text-align: center;
                filter: drop-shadow(0px 2px 4px rgba(151, 173, 184, 0.525));

                &__stat {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding-bottom: 0.5rem;
                    font-family: "Patrick Hand", cursive;
                }

                &__bar {
                    height: 0px;
                    width: 120px;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    transition: all 500ms ease-in-out;
                    border-radius: 2rem 0rem 0rem 0rem;
                    clip-path: polygon(
                        0 0,
                        100% 0,
                        100% 100%,
                        50% calc(100% - 21px),
                        0 100%
                    );
                    transform: translateY(21px);
                }
            }
            .btnShadow {
                filter: drop-shadow(0px 2px 4px rgba(151, 173, 184, 0.525));
            }

            &__btn {
                border-radius: 5px;
                background-color: teal;
                filter: contrast(2);
                clip-path: polygon(50% 1%, 100% 21px, 100% 100%, 0 99%, 0 21px);
                color: white;
                user-select: none;
                cursor: pointer;
                width: 120px;
                height: 80px;
                padding: 10px;
                white-space: wrap;
                word-wrap: break-word;
                overflow: hidden;
                text-align: center;
                // border-top:1em solid transparent;
                // border-bottom:1em solid transparent;
                text-overflow: ellipsis;
                box-shadow: 0px -2px 6px 0px #cad7dd80;

                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 150ms ease-in-out;

                :hover,
                :active {
                    overflow: visible;
                }
            }

            .infoIcon {
                transform: scale(1.4) translateY(-5rem);
                background: none;
                user-select: none;
                position: absolute;
                bottom: 7px;

                svg {
                    width: 23px;
                    height: 23px;
                }
            }
        }
    }

    .horizontalVote {
        right: 0;
        display: flex;
        direction: ltr;
        padding: 0.5rem;
        height: 100svw;
        rotate: 90deg;

        &__bar {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            transition: all 500ms ease-in-out;

            &__title {
                transform: rotate(270deg);
                color: #6e8aa6;
                position: absolute;
                width: 5rem;
                height: fit-content;
                bottom: 2rem;
                right: 2rem;
            }

            &__column {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
                text-align: center;
                filter: drop-shadow(0px 2px 4px rgba(151, 173, 184, 0.525));

                &__stat {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding-bottom: 0.5rem;
                    font-family: "Patrick Hand", cursive;
                }

                &__bar {
                    height: 0px;
                    width: 120px;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    transition: all 500ms ease-in-out;
                    border-radius: 2rem 0rem 0rem 0rem;
                    clip-path: polygon(
                        0 0,
                        100% 0,
                        100% 100%,
                        50% calc(100% - 21px),
                        0 100%
                    );
                    transform: translateY(21px);
                }
            }
            .btnShadow {
                filter: drop-shadow(0px 2px 4px rgba(151, 173, 184, 0.525));
            }

            &__btn {
                border-radius: 5px;
                background-color: teal;
                filter: contrast(2);
                clip-path: polygon(50% 1%, 100% 21px, 100% 100%, 0 99%, 0 21px);
                color: white;
                user-select: none;
                cursor: pointer;
                width: 120px;
                height: 80px;
                padding: 10px;
                white-space: wrap;
                word-wrap: break-word;
                overflow: hidden;
                text-align: center;
                // border-top:1em solid transparent;
                // border-bottom:1em solid transparent;
                text-overflow: ellipsis;
                box-shadow: 0px -2px 6px 0px #cad7dd80;

                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 150ms ease-in-out;

                :hover,
                :active {
                    overflow: visible;
                }
            }

            .infoIcon {
                transform: scale(1.4) translateY(-5rem);
                background: none;
                position: absolute;
                bottom: 0px;
                left: 50%50dvh;

                svg {
                    width: 23px;
                    height: 23px;
                }
            }
        }
    }

    vote::-webkit-scrollbar {
        width: 1.5rem;
    }

    vote::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, var(--accent), var(--halfPrimary));
        border-radius: 1rem;
    }
}
