.card {
	border: 1px solid #e0e0e0;
	padding: 10px;
	background-color: white;
	border-radius: 5px;

	cursor: pointer;
	user-select: none;

	p {
		color: var(--text);
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			color: var(--text);
			margin: .2rem .7rem .2rem .5rem;
		}
	}
}