@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	margin-top: 1rem;
	width: 100%;
}

.labelContainer {
	position: relative;
	height: 0;
}

.labelWrapper {
	position: absolute;
	top: -0.875rem;
	left: 0.5rem;
	z-index: 1;
	background-color: #f2f6ff;
	border-radius: 0.5rem;
	padding: 0 0.5rem;
	height: 1.75rem;
	width: fit-content;
	display: flex;
	align-items: center;

	&--ltr {
		left: 0.5rem;
	}

	&--rtl {
		right: 0.5rem;
	}
}

.label {
	font-size: 1rem;
	line-height: 175%;
	color: #7484a9;
	font-weight: 400;
	white-space: nowrap;
}

.inputContainer {
	flex: 1;
	border: 1px solid #bdcef4;
	border-radius: 0.5rem;
	padding: 1.25rem 1rem;
	height: 100%;

}

.textArea {
	width: 100%;
	height: 100%;
	border: none;
	resize: none;
	background: transparent;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 150%;
	font-weight: 300;
	font-style: italic;
	color: #7484a9;
	padding: 0;
	min-height: 40px; // Or whatever minimum height you want
	resize: none; // Optional: prevents manual resizing
	overflow: hidden; // Prevents scrollbar from appearing
	box-sizing: border-box;
	width: 100%;

	&::placeholder {
		color: #b3c2e7;
	}

	&:focus {
		outline: none;
	}

	&::-webkit-scrollbar {
		width: 0.375rem;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #bdcef4;
		border-radius: 0.1875rem;
	}
}