.question-dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #e0e0e0;


    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 20px;
        padding: 10px 20px;

        .joined {
            display: flex;
            justify-content: start;
            align-items: baseline;
            gap: 1rem;

            align-items: center;
            margin-bottom: 10px;

            &__icon {
                color: var(--blue);
            }

            &__text {
                color: var(--dark-text);
            }

            &__number {
                color: var(--dark-blue);
            }
        }

        .current-stage {
            display: flex;
            flex-direction: column;

            &__title {
               
                font-weight: 600;
                margin-bottom: 5px;
            }

            &__stage {
                display: flex;
                justify-content: space-between;
                align-items: center;
              color:var(--green);
                

               
            }
        }

    }

    &__icon {
        background-color: var(--green);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.8rem;
        color: white;

        @media screen and (min-width: 768px) {
            width: 8rem;

        }

        svg {
            width: 2.5rem;

        }
    }

}