.room-participant-badge {
    background-color: #d9d9d9;
    color: #7f7f7f;

    width: fit-content;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 1.6rem;
    padding: 0 2px;
   

    .badge-text {
        padding: 5px 10px 5px 5px;
        font-size: .8rem;
        font-weight: 300;
    }

    .badge-image {
        background-color: #ca746e;
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 5px;
        border-radius: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
