.button {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;

  &__text {
    font-size: 1.1rem;
    text-align: center;
  }

  &__icon-wrapper {
    position: absolute;
    right: -0.4rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    background-color: var(--button-blue);
    color: white;
    height: 100%;
    min-width: 2rem;
    padding: 0.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.25rem;
    border: solid 2px var(--white);

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &--right {
      border-radius: 3.25rem;
    }
  }

  &--right {
    flex-direction: row-reverse;
  }

  &--with-icon {
    padding-right: 2.5rem;
  }
}
