.add-statement {
    .page__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.5rem;
        padding-top: 1rem;

        h1 {
            flex: 1;
            font-weight: 300;
        }
    }
}