.chat-message-card {
  display: flex;
  flex-direction: column;
  direction: rtl;
  max-width: 75ch;
  margin: auto;
  padding: 0.3rem;
  padding-inline: 1rem;
  color: var(--text-paragraph);
  
  .user {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0.5rem;
  }
  
  .message-box {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    background-color:  var(--inputBackground);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 0px 9px 0px rgba(66, 123, 158, 0.00), 1px 0px 9px 0px rgba(66, 123, 158, 0.01), 0px 0px 7px 0px rgba(66, 123, 158, 0.05), 0px 0px 5px 0px rgba(66, 123, 158, 0.09), 0px 0px 3px 0px rgba(66, 123, 158, 0.10);
    position: relative;
    
    &--statement{
      border-left: 0rem solid !important;
    }

    .triangle {
      position: absolute;
      background-color: inherit;
      height: 2rem;
      width: 2rem;
      top: 0;
    }

    .info {
      display: flex;
      position: relative;
      .info-text {
        flex: 1;
    
        background-color: var(--background-color-info-text);
      }
    }
    .actions {
      display: flex;
      justify-content: space-between;
      border-top: 2px solid var(--statementBackground);
      padding-top: 0.5rem;
      > div {
        display: flex;
      }
      .actions-type {
        gap: 1rem;
      }
      &.actions-evaluations {
        gap: 3rem;
      }
    }
  }

  &.aligned-left {
    direction: ltr;
    &.rtl {
      .message-box {
        direction: rtl;
      }
    }
    .message-box {
      border-right: 0.65rem solid;
      margin-left: 2rem;
      margin-right: 1rem;

      &--statement{
        border-right: 0rem solid !important;
      }

      .triangle {
        clip-path: polygon(30% 0, 100% 100%, 100% 0);
        left: -1.2rem;
      }

     
    }
  }

  &:not(.aligned-left) {
    &.ltr {
      .message-box {
        direction: ltr;
      }
    }
    .message-box {
      border-left: 0.65rem solid;
      margin-right: 1.8rem;
      margin-left: 1rem;
      .triangle {
        clip-path: polygon(0 0, 0% 100%, 70% 0);
        right: -1.2rem;
      }
    }
  }

  .menu-option svg {
    color: var(--icon-blue);
  }

  .bottom-icons {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-top: auto; /* Push icons to the bottom */

    .add-question-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
  .add-questionSVG {
    margin-top: 13px;
    height: 22px;
    width: 20px;
    color: var(--icon-blue);
  }
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color:var(--background-color-info-text);
}

.edit-input {
  direction: rtl; 
  overflow: hidden;
}

.save-icon {
  cursor: pointer;
  color: var(--icon-blue);
}
