.chat-message-card {
    display: flex;
    flex-direction: column;
    direction: rtl;
    max-width: 75ch;
    margin: auto;
    padding: 0.3rem;
    padding-inline: 1rem;

    .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-top: 0.5rem;

        .avatar {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            text-align: center;
        }
    }

    .message-box {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        background-color: var(--white);
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 3px 3px 3px var(--shadow);
        position: relative;

        .triangle {
            position: absolute;
            background-color: inherit;
            height: 2rem;
            width: 2rem;
            top: 0;
        }

        .info {
            display: flex;
            position: relative;
            .info-text {
                flex: 1;
                display: flex;
            }
        }
        .actions {
            display: flex;
            justify-content: space-between;
            border-top: 2px solid var(--statementBackground);
            padding-top: 0.5rem;
            > div {
                display: flex;
            }
            .actions-type {
                gap: 1rem;
            }
            &.actions-evaluations {
                gap: 3rem;
            }
        }
    }

    &.aligned-left {
        direction: ltr;
        &.rtl {
            .message-box {
                direction: rtl;
            }
        }
        .message-box {
            border-right: 0.65rem solid;
            margin-left: 4rem;

            .triangle {
                clip-path: polygon(30% 0, 100% 100%, 100% 0);
                left: -1.2rem;
            }
        }
    }

    &:not(.aligned-left) {
        &.ltr {
            .message-box {
                direction: ltr;
            }
        }
        .message-box {
            border-left: 0.65rem solid;
            margin-right: 4rem;
            .triangle {
                clip-path: polygon(0 0, 0% 100%, 70% 0);
                right: -1.2rem;
            }
        }
    }
}
