.radio-button-with-label {
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
	width: 100%;
	cursor: pointer;

	&:not(.checked) {
		color: var(--icon-disabled-filled);
	}

	svg {
		width: 24px;
		height: 24px;
	}

	input[type='radio'] {
		display: none;
		background: var(--icon-blue);
	}
}
