.similarities {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 70ch;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
	background-color: #f2f6ff;

	&__header {
		display: flex;
		flex-direction: column;

		&__top {
			display: flex;
			justify-content: space-between;
			gap: 1rem;

			&__closeButton {
				width: 2rem;
				height: 2rem;
			}
		}

		&__types {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 80%;
			margin: 0 auto;
			.type {
				display: flex;
				align-items: center;
				gap: 1rem;

				.marked {
					font-size: 1.2rem;
					font-weight: 700;
				}

				.unmarked {
					font-size: 1.2rem;
					color: #00000050;
				}
			}
		}
	}

	&__title {
		color: var(--h2Color);
		font-size: 1rem;
	}

	&__titleInput {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		textarea::placeholder {
			font-size: 0.8rem;
			line-height: 1.2rem;
		}

		input,
		textarea {
			padding: 1rem;
			font-size: 1rem;
		}
		input::placeholder {
			font-size: 0.8rem;
		}
	}

	&__statementsBox {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		overflow-y: auto;
		flex: 1;

		&__similarStatement {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 1rem;
		}

		&__similarStatement:hover {
			background-color: #e9f0ff;
			cursor: pointer;
		}
	}

	&__buttonBox {
		display: flex;
		justify-content: center;
		width: fit-content;
		margin: 0 auto;
		border-radius: 5px;
		padding: none;
		width: 100%;
		margin-top: auto;
	}

	.twoButtonBox {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: auto;
	}

	.alertText {
		color: var(--settings-voting);
		text-align: center;
	}
}
