.enableNotifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1rem 2rem;
    border-radius: 1rem;
    gap: 1rem;
  
    &__header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  
    &__title {
      font-size: 1.5rem;
      font-weight: 600;
      color: #111111;
    }
  
    &__text {
      font-size: 1rem;
      font-weight: 400;
      color: #111111;
      text-align: center;
    }
  
    &__subtext {
      font-size: 0.8rem;
      font-weight: 400;
      color: #111111;
      text-align: center;
    }
  
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1.5rem 0;
  
      img {
        width: 100%;
        max-width: 200px;
      }
    }
  
    &__btnBox {
      display: flex;
      gap: 1rem;
    }
  
    &__btnBox__cancel {
      border-radius: 0.5rem;
      padding: 0.7rem 1.5rem;
      background-color: #f0f0f0;
      border: none;
      font-size: 0.9rem;
      color: #111111;
      font-weight: 600;
      cursor: pointer;
    }
  
    &__btnBox__enable {
      border-radius: 0.5rem;
      padding: 0.7rem 1.5rem;
      background-color: #157fe2;
      border: none;
      font-size: 0.9rem;
      color: #ffffff;
      font-weight: 600;
      cursor: pointer;
    }
  
    &__footer {
      font-size: 0.8rem;
      font-weight: 400;
      color: #111111;
      text-align: center;
    }
  }