.enableNotifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.1rem;
    direction: ltr;

    svg {
        margin-top: -60px;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #3b4f7d;
    }
    &__text {
        color: #657bad;
        text-align: center;
        font-family: "Roboto";
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 19px; /* 135.714% */
        letter-spacing: 0.5px;
        width: 60%;
        padding-bottom: 30px;
    }
    &__btnBox {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        box-shadow: 0 -3px 3px var(--shadow);

        button {
            font-family: "Roboto";
            font-weight: 600;
        }
        &__cancel {
            border-radius: 0 0 0 10px;
            color: #ee6565;
            background-color: inherit;
            padding: 1rem;
        }
        &__enable {
            border-radius: 0 0 6px 0;
            background-color: #4e88c7;
            color: #fff;
        }
    }
}
