.enableNotifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.1rem;
    direction: ltr;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 300px;
  
    .pointer {
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-bottom: 20px;
    }
  
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  
    &__title {
      font-size: 1.2rem;
      font-weight: 600;
      color: #3b4f7d;
    }
    &__text {
      color: #657bad;
      text-align: center;
      font-family: "Roboto";
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 400;
      line-height: 19px; /* 135.714% */
      letter-spacing: 0.5px;
      width: 60%;
      padding-bottom: 30px;
    }
    &__subtext {
      color: #657bad;
      text-align: center;
      font-family: "Roboto";
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 19px; /* 135.714% */
      letter-spacing: 0.5px;
      width: 60%;
      padding-bottom: 20px;
    }
    &__btnBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        padding-top: 20px;
      }
    
      &__btnBox__cancel {
        background-color: #fff;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 0.9rem;
        font-weight: 400;
        color: #657bad;
        cursor: pointer;
      }
    
      &__btnBox__enable {
        background-color: #4e88c7;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 0.9rem;
        font-weight: 400;
        color: #fff;
        cursor: pointer;
      }
    
      &__footer {
        font-size: 0.8rem;
        color: #657bad;
        text-align: center;
        padding-top: 20px;
      }
}
