.enableNotifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 13.8rem;
  direction: ltr;
  
  .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .popup-content {
    position: relative;
    width: 100%;
    width: 121.2vh; 
    height: 100vh;
    min-width: 24.35rem; 
    background: var(--statementBackground);
    box-shadow: 0rem 15rem 5rem rgba(107, 121, 149, 0.02), 0rem 8rem 4rem rgba(118, 133, 160, 0.07), 0rem 3rem 3rem rgba(118, 133, 160, 0.11), 0rem 1rem 2rem rgba(118, 133, 160, 0.13);
    border-radius: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    padding: 1.25rem;
  }
  @media only screen and (min-width: 780px) {
    .popup-content {
      position: absolute;
      width: 68.1875rem; 
      height: 55.9375rem; 
      left: calc(50% - 68.1875rem/2 + 0.03125rem); 
      top: calc(50% - 55.9375rem/2 + 0.65625rem); 
      border-radius: 0.5rem;
    }
  }
  .step-group {
    position: absolute;
    top: 1.3rem; 
    left: 9.4rem; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.5rem; 
  }

  .step-group img:first-child {
    margin-top: 0.5rem;
  }

  .step-group img:nth-child(2) {
    margin-left: -1rem; 
}
.step-group img:nth-child(3) {
    margin-left: -0.75rem; 
}
@media only screen and (min-width: 780px) {
  .step-group {
    transform: scale(1.2);
    left: 45%;
  }
}
  .icons-close-false {
    position: absolute;
    margin-left: 9.7rem;
    margin-top: 0.75rem;
    cursor: pointer;
  }
  @media only screen and (min-width: 780px) {
    .icons-close-false {
      position: absolute;
      top: 1.05rem;
      right: 3rem; 
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  @media only screen and (max-width: 361px) {
    .icons-close-false {
      margin-left: 8.5rem;
      margin-top: 0.45rem;
    }
  }
  .popup-body {
    position: absolute;
    max-width: 21.25rem;
    height: 8.0625rem; 
    top: 6.75rem; 
    margin: 0 auto;
    margin-bottom: 1.25rem; 
    flex: 1;
  }
  .rectangle-text {
  }
  .desktop-image {
    position: absolute;
    display: block;
    position: relative; 
    left: -9.375rem;
    margin: 0 auto; 
  }
  .mobile-image {
    display: none;
  }
  
  @media only screen and (max-width: 780px) {
    .desktop-image {
      display: none;
    }
    .mobile-image {
      display: block;
    }
  }
  .link-wrapper {
    position: absolute;
    top: 7.9rem; 
    left: 40%; 
    transform: translateX(-50%); 
    margin-bottom: 1.25rem;

    @media only screen and (max-width: 361px) {
      top: 86%;
      left: -25%;
      transform: translate(-50%, -50%);
      margin-bottom: 0;
      transform: scale(0.7);
      transform-origin: center;
    }
  }
  .pointer-container {
  position: absolute;
  top: 270%; 
  left: 6.2rem; 
  transform: translateY(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 361px) {
    top: 110%;
    left: 33.5%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    transform: scale(0.65);
    transform-origin: center;
  }
  @media only screen and  (min-width: 540px) {
    top: 150%;
    left: 33.5%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    transform: scale(0.65);
    transform-origin: center;
  }
}

  .option-icon-text {
    position: absolute;
    width: 100%; 
    height: 3.75rem;
    left: 0; 
    top: 32.375rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    color: var(--body-dark);
    text-align: left; 

    @media (max-width: 541px) {
      margin-top: -8rem;
      text-align: left;
      font-size: 1rem;
    }
    @media (max-width: 435px) {
      margin-top: 1.7rem;
      text-align: left;
      font-size: 1.2rem;
    }
    @media only screen and (max-width: 412px) {
      margin-top: 1rem;
      text-align: left;
      font-size: 1.2rem;
    }
    @media (max-width: 417px) {
      margin-top: -5.1rem;
      text-align: left;
      font-size: 1rem;
    }
    @media (max-width: 395px) {
      margin-top: -2rem;
      text-align: left;
      font-size: 1rem;
    }
    @media (max-width: 365px) {
      margin-top: -5rem;
      text-align: left;
      font-size: 0.9rem;
    }
    @media (max-width: 361px) {
      font-size: 1rem;
      margin-top: -53%;
      margin-left: 1rem;
    } 
  }
  .option-text {
    color: #5F88E5;
  }
  .popup-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0rem;
    gap: 9.625rem;
    position: absolute;
    width: 18.625rem;
    height: 5rem;
    left: calc(50% - 18.625rem/2);
    bottom: 2.5rem;
    margin: 0 auto;
    bottom: 2.5rem;
    left: 50%; 
    transform: translateX(-50%);  
  }
      .close-button {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.4rem 1rem;
      gap: 1rem;
      margin: 0 auto;
      width: 4rem;
      height: 2rem;
      
      flex: none;
      order: 0;
      flex-grow: 0;
      
      border: 1px solid #D1D5DB;
      border-radius: 1.25rem;

      border: 0.0625rem solid #739EE4; 
      filter: drop-shadow(0rem 2.875rem 1.125rem rgba(115, 138, 191, 0.01)) drop-shadow(0rem 1.625rem 1rem rgba(115, 138, 191, 0.05)) drop-shadow(0rem 0.6875rem 0.6875rem rgba(115, 138, 191, 0.09)) drop-shadow(0rem 0.1875rem 0.375rem rgba(115, 138, 191, 0.1));
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25rem;
      letter-spacing: 0.0146491rem;
      color: #5F88E5;

      flex: none;
      order: 0;
      flex-grow: 0;
    }
    .close-button:hover {
      background: #739EE4;
      color: #FFFFFF;
    }
    .next-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.4rem 1rem;
      gap: 1rem;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25rem;
      letter-spacing: 0.0146491rem;
      color: #FFFFFF;
    
      margin: 0 auto;
      width: 4rem;
      height: 2rem;;
    
      background: #739EE4;
      box-shadow: 0px 1rem 0.4rem rgba(38, 56, 84, 0.01), 0px 0.6rem 0.4rem rgba(38, 56, 84, 0.05), 0px 0.2rem 0.2rem rgba(38, 56, 84, 0.09), 0px 0.1rem 0.1rem rgba(38, 56, 84, 0.1);
      border-radius: 1.25rem;
    
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  
    @media only screen and (min-width: 780px) {

      .option-icon-text {
        font-size: 1.375rem; 
        white-space: nowrap;
        position: absolute;
        left: -30%;
        transform: translateX(-50%);
        transform: translateY(-50%);
      }
      
      .popup-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20rem; 
      }
      
      .close-button, .next-button {
        width: 6.625rem; 
        height: 2.6875rem; 
        padding: var(--Spacing12) var(--Spacing36) var(--Spacing12) var(--Spacing36);
        gap: 0.625rem; 
        border-radius: 1.25rem; 
        opacity: 1;
      }
    } 
}   

