.create-statement-modal {
    --questionTabColor: #3989cf;
    --questionCreateButtonColor: #5899e0;
    --optionTabColor: #2da482;
    --optionCreateButtonColor: #6fc5be;

    .overlay {
        height: 70vh;
        max-height: 600px;
        width: 80vw;
        max-width: 300px;
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
        z-index: 2000;

        .svg-graphic {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                height: 260px;
                margin-top: -86px;
                cursor: unset;
            }
        }

        .tabs {
            width: 70%;
            display: flex;
            justify-content: space-around;
            padding-bottom: 0.5rem;
            border-bottom: 2px solid var(--shadow);
            .tab {
                font-family: "Roboto", "Open Sans", sans-serif;
                font-weight: 400;
                font-size: 1rem;
                color: var(--text);
                cursor: pointer;
                font-size: 1rem;
                position: relative;
                background: none;

                .block {
                    width: 1.5rem;
                    height: 2px;
                    border-radius: 10px;
                    position: absolute;
                    bottom: -10px;
                    left: 30%;
                }

                &.active {
                    font-weight: 500;
                    &.question {
                        color: var(--questionTabColor);
                        .block {
                            background-color: var(--questionTabColor);
                        }
                    }
                    &.option {
                        color: var(--optionTabColor);

                        .block {
                            background-color: var(--optionTabColor);
                        }
                    }
                }
            }
        }

        .form-inputs {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: auto;
        }

        .create-statement-buttons {
            margin-top: auto;
            height: 55px;
            width: 100%;
            display: flex;
            align-items: center;
            box-shadow:
                0 8px 16px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            overflow: hidden;

            button {
                flex: 1;
                height: 100%;
                font-family: "Roboto", "Open Sans", sans-serif;
                font-weight: 600;
                font-size: 1rem;
            }

            .add-button {
                color: var(--white);
                &.option {
                    background-color: var(--optionCreateButtonColor);
                }
                &.question {
                    background-color: var(--questionCreateButtonColor);
                }
            }

            .cancel-button {
                color: #f26d6d;
                background-color: #f2f6ff;
            }
        }
    }
}
