.nav {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	direction: ltr;
	border-radius: 0 0 var(--radius-XL) 0;
	background-color: red;
	box-shadow: 0px 3px 9px #00000026;

	.wrapper {
		max-width: var(--wrapper);
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		max-width: var(--wrapper);

		// @media screen and (min-width: 768px) {
		// 	max-width: 40ch;

		// }
	}

	button {
		// border:1px solid gray;
		flex: 1;
		padding: 0.6rem 1rem;
		background-color: transparent;

		svg {
			height: 1.7rem;
			width: 1.7rem;
		}
	}
	.back {
		transform: rotate(180deg);
	}

	.home {
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
		}
	}
}
