.pressLeft {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    cursor: pointer;
    user-select: none;

    img {
        transform: translateX(-1px) rotate(0deg);
      

    }
}

.pressedLeft {
  
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out altrnate;

    img {
        transform: translateX(-1px) rotate(0deg);
        animation: voteUp 400ms ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
    }
}

.pressRight {
    padding: 1rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
    user-select: none;

    img {
        transform: translateX(-1px) rotate(0deg);
      

    }
}

.pressedRight {
  
    padding: 1rem;
  

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out altrnate;

    img {
        transform: translateX(-1px) rotate(0deg);
        animation: voteUp 400ms ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
    }
}

//animatrion
@keyframes voteUp {
    0% {
        transform: translateX(-1px) rotate(0deg);
    }

    50% {
        transform: translateX(-1px) rotate(-35deg);
    }

    100% {
        transform: translateX(-1px) rotate(0deg);
    }
}
