.enhanced-evaluation {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: rgba(0, 0, 0, 0.711);
  font-size: 0.8rem;

  .evaluation-score {
    &.negative {
      color: red;
    }
  }

  .evaluation-thumbs {
    display: flex;
    width: fit-content;
    direction: ltr; // Default direction

    .evaluation-thumb {
      transition: all 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      min-width: 2rem;
      cursor: pointer;
      user-select: none;
      opacity: 0.8;

      &.active {
        transform: scale(1.1);
        z-index: 0;
        opacity: 1;
      }

      &:first-child {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
      }

      &:last-child {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
      }
    }
  }

  .total-evaluators {
    direction: ltr;
  }

  &.mirrorReverse {
    .evaluation-thumbs {
      transform: scaleX(-1);
    }
  }
}
