.accessibility {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 30vh;
    left: 0px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.44);
    border-radius: 0px 100px 100px 0px;
    transition: all 0.5s ease-in-out;
    direction: rtl;

    .accessibility-panel {
        display: flex;
        width: 12rem;
        background-color: white;
        padding: 0.3rem;
        gap: 10px;

        > * {
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
        }

        .change-font-size-button {
            background-color: rgb(186, 186, 186);
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 10rem;
            cursor: pointer;
            user-select: none;
            color: white;
            font-size: 1.5rem;
        }
    }

    .accessibility-button {
        color: white;
        padding: 0.4rem;
        border-radius: 0px 10rem 10rem 0px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;

        svg {
            width: 2rem;
            height: 2rem;
            margin-inline-start: 1ch;
        }
    }
}
